
{%- if block.type == "video" -%}
{%- capture styles -%}
<style>
#block-{{ block.id }} img {
  --rounded-image-corners-mobile: {% if block.settings.rounded_image_corners_mobile %}8px{% else %}0px{% endif %};
  --rounded-image-corners-desktop: {% if block.settings.rounded_image_corners_desktop %}8px{% else %}0px{% endif %};

  --fill-image-height-mobile: {% if block.settings.fill_image_mobile %}100%{% else %}auto{% endif %};
  --fill-image-cover-mobile: {% if block.settings.fill_image_mobile %}cover{% else %}unset{% endif %};

  --fill-image-height-desktop: {% if block.settings.fill_image_desktop %}100%{% else %}auto{% endif %};
  --fill-image-cover-desktop: {% if block.settings.fill_image_desktop %}cover{% else %}unset{% endif %};
}

#block-{{ block.id }} .blocks-video--video {
--video-aspect-ratio-mobile: {{ block.settings.video_aspect_ratio_mobile | times: 100.000 }}%;
--video-aspect-ratio-desktop: {{ block.settings.video_aspect_ratio_desktop | times: 100.000 }}%;
}
</style>
{%- endcapture -%}
{{- styles | strip_newlines | strip -}} 



<div class="blocks--video flex-grid--desktop flex-grid--mobile width-desktop-{{ block.settings.width_desktop }} width-mobile-{{ block.settings.width_mobile }} {% if block.settings.hide_desktop %}hide-desktop{% endif %} {% if block.settings.hide_mobile %}hide-mobile{% endif %}" {{ blockId }}>


  <div id="blocks-video-{{ block.id | remove: '-' }}" class="blocks-video">
    <div class="blocks-video--image">  

      {%- if block.settings.enable_play_button -%}
        <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48 96C74.5097 96 96 74.5097 96 48C96 21.4903 74.5097 0 48 0C21.4903 0 0 21.4903 0 48C0 74.5097 21.4903 96 48 96ZM35.863 64.0632L64.001 47.4355L35.863 30.8078V64.0632Z" fill="white"/>
        </svg>
      {%- endif -%}
      
      {%- if block.settings.video_title != blank -%}
      <div class="blocks-video--image-text">
        <p class="text--bold">{{ block.settings.video_title  }}</p>
      </div>
    {%- endif -%}

      {%- capture class_attribute -%}{% if block.settings.mobile_image != blank %}hide-mobile{% endif %}{%- endcapture -%}
      {%- capture sizes_attribute -%}(max-width: 999px) 100vw, 100vw{%- endcapture -%}
      {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', class: class_attribute }}
    
      {%- if block.settings.mobile_image != blank -%}
        {%- capture class_attribute -%}hide-desktop{%- endcapture -%}
        {%- capture sizes_attribute -%}(max-width: 999px) 100vw, 100vw{%- endcapture -%}
          {{ block.settings.mobile_image | image_url: width: block.settings.mobile_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400', class: class_attribute }}
      {%- endif -%}

    </div>
    <div class="blocks-video--video hidden">
      <div id="video-{{ block.id | remove: '-' }}">
      </div>
    </div>
  </div>

</div>



<script>
  if (window.innerWidth > 469) {
    var videoOptions{{ block.id | remove: '-' }} = {
        id: {{ block.settings.video_url_desktop | remove: "https://vimeo.com/" }},
        quality: "720p",
        background: false,
        loop: true,
        autoplay:false,
        muted: true
    };
  } else {
    var videoOptions{{ block.id | remove: '-' }} = {
        id: {{ block.settings.video_url_mobile | remove: "https://vimeo.com/" }},
        quality: "360p",
        background: false,
        loop: true,
        autoplay:false,
        muted: true
    };
  }
  document.addEventListener("DOMContentLoaded", function(event) {
    var videoSection{{ block.id | remove: "-" }} = new Vimeo.Player('video-{{ block.id | remove: "-" }}', videoOptions{{ block.id | remove: '-' }});
    console.log(videoSection{{ block.id | remove: "-" }})
    $("#blocks-video-{{ block.id | remove: '-' }} .blocks-video--image").on( "click", function() {
      $(this).addClass("hidden")
      $("#blocks-video-{{ block.id | remove: '-' }} .blocks-video--video").removeClass("hidden");
      videoSection{{ block.id | remove: "-" }}.play();
    });
});
</script>

{% endif %}