 
{%-  assign video_url_transform = block.settings.video_url | replace: 'vimeo.com', 'player.vimeo.com/video' | append: '?background=1'  -%}

<iframe src="{{ video_url_transform }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


<div class="blocks--video flex-grid--desktop flex-grid--mobile width-desktop-{{ block.settings.width_desktop }} width-mobile-{{ block.settings.width_mobile }} {% if block.settings.hide_desktop %}hide-desktop{% endif %} {% if block.settings.hide_mobile %}hide-mobile{% endif %}" {{ blockId }}>


<div id="blocks-video-{{ block.id | remove: '-' }}" class="blocks-video-vimeo">

  <div class="blocks-video--video hidden">
    <div id="video-{{ block.id | remove: '-' }}">
    </div>
  </div>
</div>

</div>