

{%- if block.type == "container-start" -%}
    {%- capture styles -%}
    <style>
    #block-{{ block.id }} {
      --background-mobile: {{ block.settings.background_mobile }};
      --background-desktop: {{ block.settings.background_desktop }};

      --gridMobile: {{ block.settings.mobile_grid }};

      --gridGapVerticalMobile: {{ block.settings.grid_gap_vertical_mobile }}px;
      --gridGapHorizontalMobile: {{ block.settings.grid_gap_horizontal_mobile }}px;

      --paddingVerticalMobile: {{ block.settings.padding_vertical_mobile }}px;
      --paddingHorizontalMobile: {{ block.settings.padding_horizontal_mobile }}px;

      --gridDesktop: {{ block.settings.desktop_grid }};
      
      --gridGapVerticalDesktop: {{ block.settings.grid_gap_vertical_desktop }}px;
      --gridGapHorizontalDesktop: {{ block.settings.grid_gap_horizontal_desktop }}px;

      --paddingVerticalDesktop: {{ block.settings.padding_vertical_desktop }}px;
      --paddingHorizontalDesktop: {{ block.settings.padding_horizontal_desktop }}px;

      --flex-justify-content-mobile: {{ block.settings.flex_justify_content_mobile }};
      --flex-justify-content-desktop: {{ block.settings.flex_justify_content_desktop }};

      --flex-align-items-mobile: {{ block.settings.flex_justify_content_mobile }};
      --flex-align-items-desktop: {{ block.settings.flex_align_items_desktop }};

      --position-desktop: {{ block.settings.position_desktop }};
      --position-mobile: {{ block.settings.position_mobile }};

      {%- if block.settings.max_width_enabled_mobile == "enabled" -%}
        --max-width-mobile: {{ block.settings.max_width_value_mobile }}px;
      {% else %}
        --max-width-mobile: unset;
      {%- endif -%}


      {%- if block.settings.max_width_enabled_desktop == "enabled" -%}
        --max-width-desktop: {{ block.settings.max_width_value_desktop }}px;
      {% elsif block.settings.page_width == "large"  %}
        --max-width-desktop: 1360px;
      {% elsif block.settings.page_width == "medium" %}
            --max-width-desktop: 670px;
      {% elsif block.settings.page_width == "small" %}
        --max-width-desktop: 670px;
        {% else %}
        --max-width-desktop: unset;
      {%- endif -%}
    }
    </style>
    {%- endcapture -%}
    {{- styles | strip_newlines | remove:" " | strip -}}

    {%- assign classes = "" -%}

    {%- unless block.settings.flex_justify_content_mobile == "unset" -%}
        {%- assign classes = classes | append: " flex-content--mobile" -%}
    {%- endunless -%}

    {%- unless block.settings.flex_justify_content_desktop == "unset" -%}
        {%- assign classes = classes | append: " flex-content--desktop" -%}
    {%- endunless -%}

    {%- unless block.settings.flex_align_items_mobile == "unset" -%}
        {%- assign classes = classes | append: " flex-align--mobile" -%}
    {%- endunless -%}

    {%- unless block.settings.flex_align_items_desktop == "unset" -%}
        {%- assign classes = classes | append: " flex-align--desktop" -%}
    {%- endunless -%}

    {%- if block.settings.desktop_grid == "flex-grid" -%}
        {% assign classes = classes | append: " flex-grid--desktop" %}
    {%- endif -%}

    {%- if block.settings.desktop_grid == "flex-grid-wrap" -%}
        {% assign classes = classes | append: " flex-grid-wrap--desktop" %}
    {%- endif -%}

    {%- if block.settings.desktop_grid == "flex-column" -%}
        {% assign classes = classes | append: " flex-column--desktop" %}
    {%- endif -%}

    {%- if block.settings.desktop_grid == "flex-column-reverse" -%}
        {% assign classes = classes | append: " flex-column-reverse--desktop" %}
    {%- endif -%}

    {%- if block.settings.mobile_grid == "flex-grid" -%}
        {% assign classes = classes | append: " flex-grid--mobile" %}
    {%- endif -%}

    {%- if block.settings.mobile_grid == "flex-grid-wrap" -%}
        {% assign classes = classes | append: " flex-grid-wrap--mobile" %}
    {%- endif -%}

    {%- if block.settings.mobile_grid == "flex-column-reverse" -%}
        {% assign classes = classes | append: " flex-column-reverse--mobile" %}
    {%- endif -%}


    {%- if block.settings.position_absolute_mobile == "center" -%}
      {% assign classes = classes | append: " absolute-center--mobile" %}
    {%- endif -%}

    {%- if block.settings.position_absolute_desktop == "center" -%}
      {% assign classes = classes | append: " absolute-center--desktop" %}
    {%- endif -%}

    <div class="container-custom container-custom--{{ block.settings.page_width }} {{ classes }}" {{ blockId }}>
{%- endif -%}




{%- if block.type == "container-end" -%}
  </div>
{%- endif -%}