{%- if block.type == "product-item" -%}
    {%- capture styles -%}
        <style>
            #block-{{ block.id }} {
              --margin-top-desktop: {{ block.settings.margin_top_desktop }}px;
              --margin-bottom-desktop: {{ block.settings.margin_bottom_desktop }}px;
            }
        </style>
        {%- endcapture -%}
        {{- styles | strip_newlines | remove:" " | strip -}}



    <div class="blocks--product-item {% if block.setings.enable_product_fill_space %}blocks--product-item__fill-space{% endif %}" {{ blockId }}>
        {%- assign product = all_products[block.settings.product] -%}
        {%- render 'product-item', product: product, reduced_content: true, reveal: false -%}
    </div>
{% endif %}