{%- if block.type == "button" -%}
    <style>
        #block-{{ block.id }} {
          --margin-top-desktop: {{ block.settings.margin_top_desktop }}px;
          --margin-bottom-desktop: {{ block.settings.margin_bottom_desktop }}px;
        }
    </style>
    <a class="blocks--button {% if block.settings.button_style contains "link" %}link--primary{% else %}button button--primary{% endif %}" href="{{ block.settings.button_link }}" {{ blockId }}>{{ block.settings.button_text }} {% if block.settings.button_style == "link-with-arrow" %}{%- render 'icon' with "brand-arrow-right" -%}{% endif %}</a>
{%- endif -%}