{%- for filter in filters -%}
  {%- if filter.param_name == "filter.p.tag" -%}
 
    {%- assign outerCounter = 0 -%}
    {%- assign product_tags_filter = section.settings.product_tags_filter | split: "," -%}

    {%- for custom_filter in product_tags_filter -%}
      {%- assign filter_title = custom_filter | split: ")" | first | remove: "(" -%}
      {%- assign filter_prefix = custom_filter | split: ")" | last -%}
      {%- assign is_filter_group_open = false -%}

      {%- for filterInner in filters -%}
        {%- if filterInner.param_name == "filter.p.tag" -%}
            {%- for filter_value in filterInner.values -%}
              {%- if filter_value.label contains filter_prefix  -%}
                {%- for value in filter.active_values -%}
                  {%- if filter_value.label == value.label  -%}
                    {%- assign is_filter_group_open = true -%}
                    {% break %}
                  {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}

      <div class="product-facet__filter-item custom-tags">
      <button type="button" is="toggle-button" class="collapsible-toggle text--strong" aria-controls="facet-filter-{{ filter.param_name | escape }}-{{ outerCounter }}" aria-expanded="{% if is_filter_group_open %}true{% else %}false{% endif %}">
        {{- filter_title -}}

        {%- if filter.active_values.size > 0 -%}
          <span class="collapsible-toggle__selected-value text--subdued text--small hidden-tablet-and-up">{{ filter.active_values | map: 'label' | join: ', ' }}</span>
        {%- endif -%}

        {%- render 'icon' with 'chevron', inline: true -%}
      </button>

      <collapsible-content animate-items {% if is_filter_group_open %}open{% endif %} id="facet-filter-{{ filter.param_name | escape }}-{{ outerCounter }}" class="collapsible">
        {%- assign filter_label_downcase = filter.label | downcase -%}
      
        <div class="collapsible__content">
          {%- for filterInner in filters -%}
            {%- if filterInner.param_name == "filter.p.tag" -%}
                {%- for filter_value in filterInner.values -%}
                  {%- if filter_value.label contains filter_prefix  -%}
                  <div class="checkbox-container">
                    <input class="checkbox" type="checkbox" name="{{ filter_value.param_name }}" id="{{ filter_value.param_name | escape }}-{{ forloop.index }}-{{ outerCounter }}" value="{{ filter_value.value | escape }}" {% if filter_value.active %}checked="checked"{% endif %} {% if filter_value.count == 0 %}disabled{% endif %}>
                    <label for="{{ filter_value.param_name | escape }}-{{ forloop.index }}-{{ outerCounter }}">{{ filter_value.label | remove: filter_prefix | replace: "-", " " }} ({{ filter_value.count}})&lrm;</label>
                  </div>
                {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
        </div>
      </collapsible-content>
      </div>
    {%- assign outerCounter = outerCounter | plus: 1 -%}

  {%- endfor -%}
 

    {% break %}
  {%- endif -%}
{%- endfor -%}