{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}

<div class="gift-card-template">

    <div class="gift-card {% if gift_card.expired or gift_card.enabled != true %}gift-card--disabled{% endif %}" data-section-id="gift-card" data-section-type="gift-card">
        <div class="container">
        <div class="page-content">
            {% comment %} <h1 class="heading h1">{{ 'gift_card.issued_legacy.subtext' | t  }}</h1> {% endcomment %}
            <h1 class="heading h1">Your e-Gift Card! It's <i>Here!</i> On this very page!</h1>


            {%- capture print_link -%}
            <a href="#" id="print-gift-card" class="link link--underline-native">{{ 'gift_card.issued_legacy.print' | t }}</a>
            {%- endcapture -%}
    
            <p class="gift-card__redeem">{{ 'gift_card.issued_legacy.redeem_html' | t: print_link: print_link }}</p>
    
            <div class="gift-card__wrapper">
    
            {%- if gift_card.expired == false -%}
                <div class="alert alert--success">
                {%- assign formatted_initial_value = gift_card.initial_value | money -%}
                
                <p>{{ 'gift_card.issued_legacy.initial_amount_html' | t }} <strong>{{ formatted_initial_value }}</strong></p>
    
                {%- if gift_card.balance != gift_card.initial_value -%}
                    {%- assign formatted_balance = gift_card.balance | money: gift_card.currency -%}
                    <p>{{ 'gift_card.issued_legacy.remaining_balance_html' | t: balance: formatted_balance }}</p>
                {%- endif -%}
    
                {%- if gift_card.expires_on -%}
                    {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
                    <p>{{ 'gift_card.issued_legacy.expires_on' | t: expiry: gift_card_expiry_date }}</p>
                {%- endif -%}
                </div>
            {%- else -%}
                <div class="alert alert--error">
                {%- if gift_card.expired -%}
                    {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
                    <p>{{ 'gift_card.issued_legacy.expired' | t: expiry: gift_card_expiry_date }}</p>
                {%- else -%}
                    <p>{{ 'gift_card.issued_legacy.disabled' | t }}</p>
                {%- endif -%}
                </div>
            {%- endif -%}
    
            <div class="gift-card__illustration-wrapper">
            {% if brand == "gro-to" %}
                <svg iid="gift-card-graphic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 725 402"><defs><clipPath id="b"><rect width="725" height="402" style="fill:none;"/></clipPath></defs><g style="clip-path:url(#b);"><g><path d="m692.63,400.46H58.93c-17.19,0-31.26-14.04-31.26-31.2V54.64c0-17.16,14.07-31.2,31.26-31.2h633.7c17.19,0,31.26,14.04,30.82,31.2v314.62c.44,17.16-13.62,31.2-30.82,31.2h0Z" style="fill:#008de6;"/><path d="m692.63,402H58.93c-18.09,0-32.8-14.68-32.8-32.74V54.64c0-18.05,14.71-32.74,32.8-32.74h633.7c8.85,0,17.12,3.48,23.3,9.8,6.06,6.21,9.28,14.37,9.06,22.98v314.58c.22,8.56-3,16.73-9.06,22.94-6.17,6.32-14.45,9.8-23.3,9.8h0ZM58.93,24.98c-16.39,0-29.72,13.3-29.72,29.66v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c8.01,0,15.5-3.15,21.09-8.88,5.48-5.61,8.39-12.98,8.19-20.75V54.64c.2-7.81-2.71-15.17-8.19-20.79-5.59-5.72-13.08-8.88-21.09-8.88H58.93Z" style="fill:#07070d;"/><path d="m666.5,1.54H32.8C15.54,1.54,1.54,15.51,1.54,32.74v314.62c0,17.23,14,31.2,31.26,31.2h633.7c17.27,0,31.26-13.97,31.26-31.2V32.74c0-17.23-14-31.2-31.26-31.2Z" style="fill:#00b0e6;"/><path d="m666.5,380.1H32.8c-18.09,0-32.8-14.68-32.8-32.74V32.74C0,14.69,14.71,0,32.8,0h633.7c18.09,0,32.8,14.69,32.8,32.74v314.62c0,18.05-14.71,32.74-32.8,32.74h0ZM32.8,3.08C16.41,3.08,3.08,16.38,3.08,32.74v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c16.39,0,29.72-13.31,29.72-29.66V32.74c0-16.36-13.33-29.66-29.72-29.66,0,0-633.7,0-633.7,0Z" style="fill:#07070d;"/><path d="m638.11,85.49c-7.13-.36-12.48-5.7-12.48-13.52h6.78c0,4.98,2.78,7.83,8.56,7.83s8.92-2.85,8.92-6.48c0-9.9-23.9-4.91-23.9-20.57,0-6.05,5.35-11.39,12.13-12.1v-6.41h6.06v6.76c6.42,1.07,11.41,6.05,11.41,13.17h-6.78c0-4.63-3.21-7.83-7.85-7.83-4.99,0-8.2,3.2-8.2,6.41,0,9.25,23.89,4.27,23.89,20.57,0,6.12-5.35,11.46-12.48,12.17v6.41h-6.06v-6.41h0Z" style="fill:#fff;"/><path d="m644.83,92.56h-7.39v-6.45c-7.38-.66-12.48-6.39-12.48-14.14v-.66h8.1v.66c0,4.76,2.66,7.17,7.9,7.17s8.25-2.18,8.25-5.82c0-3.9-4.38-5.26-9.44-6.85-6.44-2.01-14.45-4.51-14.45-13.73,0-6.23,5.28-11.69,12.13-12.68v-6.48h7.39v6.87c6.85,1.38,11.41,6.83,11.41,13.72v.66h-8.1v-.66c0-4.29-2.89-7.17-7.19-7.17-3.63,0-7.54,2.2-7.54,5.75s4.16,4.76,8.98,6.23c6.65,2.03,14.92,4.56,14.92,14.34,0,6.39-5.32,11.79-12.48,12.76v6.48h-.01Zm-6.06-1.32h4.74v-6.34l.6-.06c6.78-.68,11.89-5.63,11.89-11.52,0-8.81-7.43-11.08-13.98-13.08-5.1-1.56-9.91-3.03-9.91-7.49,0-3.47,3.31-7.07,8.86-7.07,4.79,0,8.19,3.19,8.49,7.83h5.46c-.29-6.09-4.57-10.81-10.84-11.86l-.55-.09v-6.66h-4.74v6.34l-.59.06c-6.47.68-11.53,5.71-11.53,11.45,0,8.24,6.87,10.39,13.52,12.46,5.33,1.67,10.37,3.24,10.37,8.11,0,5.26-4.95,7.14-9.58,7.14-5.7,0-8.95-2.78-9.2-7.83h-5.46c.29,6.89,5.08,11.87,11.84,12.21l.63.03v6.37h-.02Z" style="fill:#07070d;"/></g></g></svg>
            {% elsif brand == "bro-to" %}
                <svg id="gift-card-graphic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 725 402"><defs><clipPath id="b"><rect width="725" height="402" style="fill:none;"/></clipPath></defs><g style="clip-path:url(#b);"><g><path d="m692.63,400.46H58.93c-17.19,0-31.26-14.04-31.26-31.2V54.64c0-17.16,14.07-31.2,31.26-31.2h633.7c17.19,0,31.26,14.04,30.82,31.2v314.62c.44,17.16-13.62,31.2-30.82,31.2h0Z" style="fill:#c33901;"/><path d="m692.63,402H58.93c-18.09,0-32.8-14.68-32.8-32.74V54.64c0-18.05,14.71-32.74,32.8-32.74h633.7c8.85,0,17.12,3.48,23.3,9.8,6.06,6.21,9.28,14.37,9.06,22.98v314.58c.22,8.56-3,16.73-9.06,22.94-6.17,6.32-14.45,9.8-23.3,9.8h0ZM58.93,24.98c-16.39,0-29.72,13.3-29.72,29.66v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c8.01,0,15.5-3.15,21.09-8.88,5.48-5.61,8.39-12.98,8.19-20.75V54.64c.2-7.81-2.71-15.17-8.19-20.79-5.59-5.72-13.08-8.88-21.09-8.88H58.93Z" style="fill:#07070d;"/><path d="m666.5,1.54H32.8C15.54,1.54,1.54,15.51,1.54,32.74v314.62c0,17.23,14,31.2,31.26,31.2h633.7c17.27,0,31.26-13.97,31.26-31.2V32.74c0-17.23-14-31.2-31.26-31.2Z" style="fill:#f23901;"/><path d="m666.5,380.1H32.8c-18.09,0-32.8-14.68-32.8-32.74V32.74C0,14.69,14.71,0,32.8,0h633.7c18.09,0,32.8,14.69,32.8,32.74v314.62c0,18.05-14.71,32.74-32.8,32.74h0ZM32.8,3.08C16.41,3.08,3.08,16.38,3.08,32.74v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c16.39,0,29.72-13.31,29.72-29.66V32.74c0-16.36-13.33-29.66-29.72-29.66,0,0-633.7,0-633.7,0Z" style="fill:#07070d;"/><path d="m638.11,85.49c-7.13-.36-12.48-5.7-12.48-13.52h6.78c0,4.98,2.78,7.83,8.56,7.83s8.92-2.85,8.92-6.48c0-9.9-23.9-4.91-23.9-20.57,0-6.05,5.35-11.39,12.13-12.1v-6.41h6.06v6.76c6.42,1.07,11.41,6.05,11.41,13.17h-6.78c0-4.63-3.21-7.83-7.85-7.83-4.99,0-8.2,3.2-8.2,6.41,0,9.25,23.89,4.27,23.89,20.57,0,6.12-5.35,11.46-12.48,12.17v6.41h-6.06v-6.41h0Z" style="fill:#fff;"/><path d="m644.83,92.56h-7.39v-6.45c-7.38-.66-12.48-6.39-12.48-14.14v-.66h8.1v.66c0,4.76,2.66,7.17,7.9,7.17s8.25-2.18,8.25-5.82c0-3.9-4.38-5.26-9.44-6.85-6.44-2.01-14.45-4.51-14.45-13.73,0-6.23,5.28-11.69,12.13-12.68v-6.48h7.39v6.87c6.85,1.38,11.41,6.83,11.41,13.72v.66h-8.1v-.66c0-4.29-2.89-7.17-7.19-7.17-3.63,0-7.54,2.2-7.54,5.75s4.16,4.76,8.98,6.23c6.65,2.03,14.92,4.56,14.92,14.34,0,6.39-5.32,11.79-12.48,12.76v6.48h-.01Zm-6.06-1.32h4.74v-6.34l.6-.06c6.78-.68,11.89-5.63,11.89-11.52,0-8.81-7.43-11.08-13.98-13.08-5.1-1.56-9.91-3.03-9.91-7.49,0-3.47,3.31-7.07,8.86-7.07,4.79,0,8.19,3.19,8.49,7.83h5.46c-.29-6.09-4.57-10.81-10.84-11.86l-.55-.09v-6.66h-4.74v6.34l-.59.06c-6.47.68-11.53,5.71-11.53,11.45,0,8.24,6.87,10.39,13.52,12.46,5.33,1.67,10.37,3.24,10.37,8.11,0,5.26-4.95,7.14-9.58,7.14-5.7,0-8.95-2.78-9.2-7.83h-5.46c.29,6.89,5.08,11.87,11.84,12.21l.63.03v6.37h-.02Z" style="fill:#07070d;"/></g></g></svg>
            {% else %}
                <svg id="gift-card-graphic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 725 402"><defs><clipPath id="b"><rect width="725" height="402" style="fill:none;"/></clipPath></defs><g style="clip-path:url(#b);"><g><path d="m692.63,400.46H58.93c-17.19,0-31.26-14.04-31.26-31.2V54.64c0-17.16,14.07-31.2,31.26-31.2h633.7c17.19,0,31.26,14.04,30.82,31.2v314.62c.44,17.16-13.62,31.2-30.82,31.2Z" style="fill:#fac6b9;"/><path d="m692.63,402H58.93c-18.09,0-32.8-14.68-32.8-32.74V54.64c0-18.05,14.71-32.74,32.8-32.74h633.7c8.85,0,17.12,3.48,23.3,9.8,6.06,6.21,9.28,14.37,9.06,22.98v314.58c.22,8.56-3,16.73-9.06,22.94-6.17,6.32-14.45,9.8-23.3,9.8ZM58.93,24.98c-16.39,0-29.72,13.3-29.72,29.66v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c8.01,0,15.5-3.15,21.09-8.88,5.48-5.61,8.39-12.98,8.19-20.75V54.64c.2-7.81-2.71-15.17-8.19-20.79-5.59-5.72-13.08-8.88-21.09-8.88H58.93Z" style="fill:#07070d;"/><path d="m666.5,1.54H32.8C15.54,1.54,1.54,15.51,1.54,32.74v314.62c0,17.23,14,31.2,31.26,31.2h633.7c17.27,0,31.26-13.97,31.26-31.2V32.74c0-17.23-14-31.2-31.26-31.2Z" style="fill:#fce2db;"/><path d="m666.5,380.1H32.8c-18.09,0-32.8-14.68-32.8-32.74V32.74C0,14.69,14.71,0,32.8,0h633.7c18.09,0,32.8,14.69,32.8,32.74v314.62c0,18.05-14.71,32.74-32.8,32.74ZM32.8,3.08C16.41,3.08,3.08,16.38,3.08,32.74v314.62c0,16.36,13.33,29.66,29.72,29.66h633.7c16.39,0,29.72-13.31,29.72-29.66V32.74c0-16.36-13.33-29.66-29.72-29.66H32.8Z" style="fill:#07070d;"/><path d="m638.11,85.49c-7.13-.36-12.48-5.7-12.48-13.52h6.78c0,4.98,2.78,7.83,8.56,7.83,6.06,0,8.92-2.85,8.92-6.48,0-9.9-23.9-4.91-23.9-20.57,0-6.05,5.35-11.39,12.13-12.1v-6.41h6.06v6.76c6.42,1.07,11.41,6.05,11.41,13.17h-6.78c0-4.63-3.21-7.83-7.85-7.83-4.99,0-8.2,3.2-8.2,6.41,0,9.25,23.89,4.27,23.89,20.57,0,6.12-5.35,11.46-12.48,12.17v6.41h-6.06v-6.41h0Z" style="fill:#fac6b9;"/><path d="m644.83,92.56h-7.39v-6.45c-7.38-.66-12.48-6.39-12.48-14.14v-.66h8.1v.66c0,4.76,2.66,7.17,7.9,7.17s8.25-2.18,8.25-5.82c0-3.9-4.38-5.26-9.44-6.85-6.44-2.01-14.45-4.51-14.45-13.73,0-6.23,5.28-11.69,12.13-12.68v-6.48h7.39v6.87c6.85,1.38,11.41,6.83,11.41,13.72v.66h-8.1v-.66c0-4.29-2.89-7.17-7.19-7.17-3.63,0-7.54,2.2-7.54,5.75s4.16,4.76,8.98,6.23c6.65,2.03,14.92,4.56,14.92,14.34,0,6.39-5.32,11.79-12.48,12.76v6.48h-.01Zm-6.06-1.32h4.74v-6.34l.6-.06c6.78-.68,11.89-5.63,11.89-11.52,0-8.81-7.43-11.08-13.98-13.08-5.1-1.56-9.91-3.03-9.91-7.49,0-3.47,3.31-7.07,8.86-7.07,4.79,0,8.19,3.19,8.49,7.83h5.46c-.29-6.09-4.57-10.81-10.84-11.86l-.55-.09v-6.66h-4.74v6.34l-.59.06c-6.47.68-11.53,5.71-11.53,11.45,0,8.24,6.87,10.39,13.52,12.46,5.33,1.67,10.37,3.24,10.37,8.11,0,5.26-4.95,7.14-9.58,7.14-5.7,0-8.95-2.78-9.2-7.83h-5.46c.29,6.89,5.08,11.87,11.84,12.21l.63.03v6.37h-.02Z" style="fill:#07070d;"/></g></g></svg>
            {% endif %}
                <span class="gift-card__code-holder heading h2 heading--secondary">{{ gift_card.code | format_code }}</span>
            </div>
    
            <div id="qr-code" class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
            </div>
    
            <div class="button-group">
            {%- if gift_card.pass_url -%}
                <div class="button-group__item">
                <a href="{{ gift_card.pass_url }}" class="gift-card__apple-wallet">
                    <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_card.issued_legacy.add_to_apple_wallet' | t }}">
                </a>
                </div>
            {%- endif -%}
    
            <div class="button-group__item">
            
            {% if brand == "gro-to" %}
                <a href="https://gotoskincare.com/pages/gro-to" class="button button--primary" target="_blank">{{ 'gift_card.issued_legacy.shop_link' | t | upcase }}</a>
            {% elsif brand == "bro-to" %}
                <a href="https://gotoskincare.com/pages/bro-to" class="button--link button--link-primary" target="_blank">{{ 'gift_card.issued_legacy.shop_link' | t | upcase }}</a>
            {% else %}
                <a href="{{ shop.url }}" class="button button--primary" target="_blank">{{ 'gift_card.issued_legacy.shop_link' | t | upcase }}</a>
            {% endif %}
    
            </div>
            </div>
        </div>
        </div>
    </div>

</div>
