{%- assign minSpend = block.settings.min_spend | times: 100 -%}
{%- assign minSpendFromX = 0 -%}

{% assign getProductInCart = false %}
{% assign getProduct = block.settings.get_product %}

{%- if block.settings.enable_popup -%}
  {% assign getProduct2 = block.settings.get_product2 %}
  {% assign getProduct3 = block.settings.get_product3 %}
{%- endif -%}




{%- for attribute in cart.attributes -%}
  {%- if attribute.first == "_last-visited-brand" -%}
  {%- capture brand -%}{{ attribute.last }}{%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{%- if block.settings.go-to and brand == "go-to" -%}
  {%- assign enable_for_go-to = true -%}
{%- endif -%}

{%- if block.settings.bro-to and brand == "bro-to" -%}
  {%- assign enable_for_bro-to = true -%}
{%- endif -%}

{%- if block.settings.gro-to and brand == "gro-to" -%}
  {%- assign enable_for_gro-to = true -%}
{%- endif -%}

{%- if enable_for_go-to or enable_for_bro-to or enable_for_gro-to -%}

{%- for item in cart.items -%}
  {%- if item.product.handle == getProduct.handle -%}
    {% assign getProductInCart = true -%}
  {%- endif -%}

  {%- if block.settings.enable_popup -%}

    {%- if item.product.handle == getProduct2.handle -%}
      {% assign getProductInCart = true -%}
    {%- endif -%}

    {%- if item.product.handle == getProduct3.handle -%}
      {% assign getProductInCart = true -%}
    {%- endif -%}

  {% endif %}

  {%- if block.settings.buy_brand contains item.product.vendor -%}
    {%- assign lineItemSpend = item.price | times: item.quantity -%}
    {%- assign minSpendFromX = minSpendFromX | plus: lineItemSpend -%}
  {% else %}
    {%- for tag in item.product.tags -%}
      {%- if tag == block.settings.buy_tag -%}

        {%- assign lineItemSpend = item.price | times: item.quantity -%}
        {%- assign minSpendFromX = minSpendFromX | plus: lineItemSpend -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}


{%- endfor -%}

{% comment %} min-spend: {{ minSpendFromX | money }} {% endcomment %}



{%- if javascriptCode == true -%}

    {%- if block.settings.automatically_add and getProduct.available -%}
    <script>
      var cartGWPItem = {
        type: "min-spend-plus-buy-x",
        minSpend: {{ minSpend }},
        buyBrand: "{{ block.settings.buy_brand }}",
        buyXTag: "{{ block.settings.buy_tag }}",
        gwp_item_message: "{{ block.settings.gwp_item_message | strip_html }}",
        getProduct: {
          available: {{ getProduct.available }},
          variantId: {{ getProduct.selected_or_first_available_variant.id }},
          handle: "{{ getProduct.handle }}"
        }{% if block.settings.enable_popup == true %},
        getProduct2: {
          available: {{ getProduct2.available | default: false }},
          variantId: {{ getProduct2.selected_or_first_available_variant.id  | default: false }},
          handle: "{{ getProduct2.handle  | default: false }}"
        },
        getProduct3: {
          available: {{ getProduct3.available | default: false }},
          variantId: {{ getProduct3.selected_or_first_available_variant.id | default: false }},
          handle: "{{ getProduct3.handle | default: false }}"
        }{% endif %}
      }
      window.cartGWP.push(cartGWPItem);
    </script>
    {%- endif -%}
{%- elsif javascriptCode == false or checkoutValidator == true  -%}


  {%- if checkoutValidator == true -%}

    {%- if minSpendFromX >= minSpend and getProductInCart == false and getProduct.available == true and block.settings.can_block_checkout == true -%}
          {%- capture blockCheckout -%}true{%- endcapture -%}
          {%- capture blockCheckoutText -%}{{ block.settings.block_checkout_button }}{%- endcapture -%}
          {%- capture blockCheckoutTextNoThanks -%}{{ block.settings.block_checkout_button_no }}{%- endcapture -%}
    {%- endif -%}


    {%- if minSpendFromX >= minSpend and getProductInCart == false and getProduct.available == true and block.settings.can_block_checkout == false and block.settings.enable_popup == true and popupCode != true -%}

        {%- capture popupGiftCheckout -%}true{%- endcapture -%}
        {%- capture popupCheckoutText -%}{{ block.settings.popup_checkout_button }}{%- endcapture -%}
        {%- capture popupCheckoutTextNoThanks -%}{{ block.settings.popup_checkout_button_no }}{%- endcapture -%}

        <button type="button" is="toggle-button" id="mini-cart-gwp-{{ block.id }}-toggle" class="button button--primary button--full" data-action="toggle-gwp" aria-controls="mini-cart-gwp-{{ block.id }}-element" aria-expanded="false">
       {{ popupCheckoutText }}
      </button>

    {%- endif -%}
  
  {% else %}

  
  {%- if minSpendFromX >= minSpend and getProductInCart == false and block.settings.automatically_add == false and block.settings.enable_popup == true -%}

  {%- elsif minSpendFromX >= minSpend and getProductInCart == false and block.settings.automatically_add == false -%}
        {% if getProduct.available == true %}
            <div class="mini-cart-gift">
            <div class="heading h6 mini-cart-gift--title heading--secondary">{{ block.settings.gwp_title }}</div>
            {%- render 'product-item--gift', product: getProduct, reveal: false, show_cta: true, reduced_content: true, showHiddenProduct: true, description: block.settings.gwp_description -%}
            </div>
        {%- endif -%}
    {%- elsif minSpendFromX < minSpend and getProductInCart == false and getProduct.available == true and block.settings.show_progress_bar -%} 
      {%- render 'mini-cart--gifts-shipping-progress', blockType: "min-spend", product: getProduct, currentSpend: minSpendFromX, minSpend: minSpend, progressTitle: block.settings.progress_bar_title, progressTitleSizeMobile: block.settings.progress_bar_size_mobile, progressTitleSizeDesktop: block.settings.progress_bar_size_desktop, block: block -%}
    {%- endif -%}

    {%- if getProductInCart == false and getProduct.available == false -%}
      {%- render 'mini-cart--gifts-error', product: getProduct -%}
    {%- endif -%}
  {%- endif -%}
    
  {%- endif -%}

{%- endif -%}



{%- if popupCode == true -%}
  
  {%- if block.settings.enable_popup == true -%}

     <openable-element id="mini-cart-gwp-{{ block.id }}-element" class="mini-cart__order-note">
      <span class="openable__overlay"></span>

          <div class="heading h6 mini-cart-gift--title heading--secondary">{{ block.settings.gwp_title }}</div>
          {% if getProduct.available == true %}
            <div class="mini-cart-gift"> 
            {%- render 'product-item--gift', product: getProduct, reveal: false, show_cta: true, reduced_content: true, showHiddenProduct: true, description: block.settings.gwp_description -%}
            </div>
        {%- endif -%}

            {% if getProduct2.available == true %}
            <div class="mini-cart-gift">

            {%- render 'product-item--gift', product: getProduct2, reveal: false, show_cta: true, reduced_content: true, showHiddenProduct: true, description: block.settings.gwp_description -%}
            </div>
        {%- endif -%}

            {% if getProduct3.available == true %}
            <div class="mini-cart-gift">
            {%- render 'product-item--gift', product: getProduct3, reveal: false, show_cta: true, reduced_content: true, showHiddenProduct: true, description: block.settings.gwp_description -%}
            </div>
        {%- endif -%}
      <button type="button" data-action="close" class="form__submit form__submit--closer button button--secondary">Close</button>
    </openable-element>

{% endif %}

{% endif %}
