{%- assign minSpend = block.settings.min_spend | times: 100 -%}
{% assign cartTotalExcludingGiftCards = 0 %}

{% assign getProductInCart = false %}
{% assign getProduct = block.settings.get_product %}

{%- for item in cart.items -%}
  {%- if item.product.handle == getProduct.handle -%}
    {% assign getProductInCart = true -%}{% break %}
  {%- endif -%}
{%- endfor -%}


{% for item in cart.items %}
  {% if item.product.type != "Gift Cards" %}
    {% assign itemTotal = item.price | times: item.quantity %}
    {% assign cartTotalExcludingGiftCards = cartTotalExcludingGiftCards | plus: itemTotal %}
  {% endif %}
{% endfor %}

{%- if javascriptCode == true -%}

    {%- if block.settings.automatically_add and getProduct.available -%}
    <script>
      var cartGWPItem = {
        type: "min-spend",
        admin_title: "{{ block.settings.admin_title }}",
        minSpend: {{ minSpend }},
        gwp_item_message: "{{ block.settings.gwp_item_message | strip_html }}",
        getProduct: {
          available: {{ getProduct.available }},
          variantId: {{ getProduct.selected_or_first_available_variant.id }},
          handle: "{{ getProduct.handle }}"
        }
      }

      window.cartGWP.push(cartGWPItem);
    </script>
    {%- endif -%}
{%- elsif javascriptCode == false -%}


  {%- if cartTotalExcludingGiftCards >= minSpend and getProductInCart == false and block.settings.automatically_add == false -%}
        {% if getProduct.available == true %}
            <div class="mini-cart-gift">
            <div class="heading h6 mini-cart-gift--title heading--secondary">{{ block.settings.gwp_title }}</div>
            {%- render 'product-item--gift', product: getProduct, reveal: false, show_cta: true, reduced_content: true, showHiddenProduct: true, description: block.settings.gwp_description -%}
            </div>
        {%- endif -%}
    {%- elsif cartTotalExcludingGiftCards < minSpend and getProductInCart == false and getProduct.available == true and block.settings.show_progress_bar -%} 
      {%- render 'mini-cart--gifts-shipping-progress', blockType: "min-spend", product: getProduct, currentSpend: cartTotalExcludingGiftCards, minSpend: minSpend, progressTitle: block.settings.progress_bar_title, progressTitleSizeMobile: block.settings.progress_bar_size_mobile, progressTitleSizeDesktop: block.settings.progress_bar_size_desktop, block: block -%}
    {%- endif -%}

    {%- if getProductInCart == false and getProduct.available == false -%}
      {%- render 'mini-cart--gifts-error', product: getProduct -%}
    {%- endif -%}
  
    
{%- endif -%}