{% comment %} <button class="blocks--button {{ classes }} {% if block.settings.button_style contains "link" %}link--{% if section.settings.button_style == 'link-with-arrow-white' %}secondary{% else %}primary{% endif %}{% else %}button {{ block.settings.button_style }}{% endif %}" {{ blockId }}>{{ block.settings.button_text }} {% if block.settings.button_style == "link-with-arrow" %}{%- render 'icon' with "brand-arrow-right" -%}{% endif %}</button>
{%- render 'modal', modalId: modalId, content: block.settings.modal_content, buttonId: buttonId -%} {% endcomment %}

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById('{{ buttonId }}').addEventListener('click', function(event) {
      event.preventDefault(); 
      document.getElementById('{{ modalId }}-modal').setAttribute('open', true);
      });
    });
  </script>

<modal-content section="{{ modalId }}" id="{{ modalId }}-modal" class="modal modal-custom" {% if content_square_id != blank %}data-content-square="{{ content_square_id }}"{% endif %}>
  <div class="modal__overlay"></div>

  <div class="modal__content">
    <button type="button" class="modal__close-button tap-area" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>

    <div class="modal__content-inner {{ class }}">
        {{ content }}
    </div>
  </div>
</modal-content>

