{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}

{%- if brand == "go-to" -%}
  <div class="perfect-for--icon">
  {%- case icon -%}
    {%- when 'all-skin' -%}
      <img src="{{ '0921_GT_Website_Illustrations_GoodToKnow_MBS_AllSkin.svg' | asset_url }}" alt="All Skin">
      <p>All Skin</p>
    {%- when 'teen' -%}
      <img src="{{ '0123_GT_Icon_Teen.svg' | asset_url }}" alt="Teen Skin">
      <p>Teen Skin</p>
    {%- when 'sensitive' -%}
      <img src="{{ '0123_GT_Icon_Sensitive.svg' | asset_url }}" alt="Sensitive Skin">
      <p>Sensitive Skin</p>
    {%- when 'oily' -%}
      <img src="{{ '0123_GT_Icon_Oily.svg' | asset_url }}" alt="Oily Skin">
      <p>Oily Skin</p>
    {%- when 'normal' -%}
      <img src="{{ '0123_GT_Icon_Normal.svg' | asset_url }}" alt="Normal Skin">
      <p>Normal Skin</p>
    {%- when 'dry' -%}
      <img src="{{ '0123_GT_Icon_Dry.svg' | asset_url }}" alt="Dry Skin">
      <p>Dry Skin</p>
    {%- when 'combination' -%}
      <img src="{{ '0123_GT_Icon_Combination.svg' | asset_url }}" alt="Combination Skin">
      <p>Combination Skin</p>
    {%- when 'ageing' -%}
      <img src="{{ '0123_GT_Icon_Ageing.svg' | asset_url }}" alt="Ageing Skin">
      <p>Ageing Skin</p>
    {%- when 'acne' -%}
      <img src="{{ '0123_GT_Icon_Acne.svg' | asset_url }}" alt="Acne Prone">
      <p>Acne Prone</p>
  {% endcase %}
</div>
{%- elsif brand == "bro-to" -%}
<div class="perfect-for--icon">
  {%- case icon -%}
    {%- when 'teen' -%}
      <img src="{{ 'bro-to_Teen.svg' | asset_url }}" alt="Teen Skin">
      <p>Teen Skin</p>
    {%- when 'sensitive' -%}
      <img src="{{ 'bro-to_Sensitive.svg' | asset_url }}" alt="Sensitive Skin">
      <p>Sensitive Skin</p>
    {%- when 'oily' -%}
      <img src="{{ 'bro-to_Oily.svg' | asset_url }}" alt="Oily Skin">
      <p>Oily Skin</p>
    {%- when 'normal' -%}
      <img src="{{ 'bro-to_Normal.svg' | asset_url }}" alt="Normal Skin">
      <p>Normal Skin</p>
    {%- when 'dry' -%}
      <img src="{{ 'bro-to_Dry.svg' | asset_url }}" alt="Dry Skin">
      <p>Dry Skin</p>
    {%- when 'combination' -%}
      <img src="{{ 'bro-to_Combination.svg' | asset_url }}" alt="Combination Skin">
      <p>Combination Skin</p>
    {%- when 'ageing' -%}
      <img src="{{ 'bro-to_Ageing.svg' | asset_url }}" alt="Ageing Skin">
      <p>Ageing Skin</p>
    {%- when 'acne' -%}
      <img src="{{ 'bro-to_Acne-Prone.svg' | asset_url }}" alt="Acne Prone">
      <p>Acne Prone</p>
  {% endcase %}
</div>

{%- endif -%}


