<div class="container container--no-padding-mobile">
  <div class="ProductContentIngredients">
    <h3 class="SectionHeader__Heading heading h2">{{ section.settings.title }}</h3>

    <div class="ProductContentIngredients--container">
      {%- assign ingredientCounter = 0 -%}
      {%- assign alphabet = 'A,C,H,J,O,R,S' | split: ',' -%}
      {%- assign words = 'Apple,Cat,Hat,Jellyfish,Octopus,Rabbit,Spaceship' | split: ',' -%}
      
      {%- for ingredient in ingredientsGlossary -%}
        {%- assign ingredientTitle = ingredient | split: '</h3>' | first -%}
        {%- assign ingredientContent = ingredient | split: '</h3>' | last -%}
        {%- assign ingredientInitial = ingredientTitle | strip_html | slice: 0 | upcase -%}
        {%- assign ingredientDowncased = ingredientTitle | downcase -%}

        {%- if productIngredients contains ingredientDowncased and ingredientTitle != blank -%}
          <div class="ProductContentIngredients--text-item {% if ingredientCounter == 0 %}active{% endif %}" data-action="activate">
            {%- for alpha in alphabet -%}
              {%- if alpha == ingredientInitial -%}
                {%- assign word = words[forloop.index0] -%}
              {%- endif -%}
            {%- endfor -%}
            
            <div class="ProductContentIngredients--icons">
              {%- if ingredientInitial == 'S' -%}
                {%- capture word -%}{%- cycle 'Spaceship', 'Sock' -%}{%- endcapture -%}
              {%- endif -%}
            
              <img src="{{ '0223_GRT_Illustrations_ProductPage_' | append: word | append: '.svg' | asset_url }}" alt="{{ word }}" width="auto" height="auto" loading="lazy">
              <img src="{{ '0223_GRT_Illustrations_ProductPage_' | append: word | append: '_copy.svg' | asset_url }}" alt="{{ word }}" width="auto" height="auto" loading="lazy">
            </div>
            
            <p class="title u-h1 Heading">
              <span class="slice-title">{{ ingredientInitial }}</span>
              <span class="is-for">Is For <span class="Text--bold">{{ ingredientTitle }}</span></span>
            </p>

            <div class="content">{{ ingredientContent }}</div>
          </div>

          {% if ingredientCounter == 3 %}
            {% break %}
          {% else %}  
            {%- assign ingredientCounter = ingredientCounter | plus: 1 -%}            
          {% endif %}
        {%- endif -%}
      {%- endfor -%}
    </div>

    <div class="button-container">
      {%- if product.metafields.custom.ingredients != blank -%}

        {%- capture glossaryContent -%}
          {%- assign glossaryMetaobjects = product.metafields.custom.ingredients.value | sort: "title" -%}
          <div class="ingredients-glossary">
          <div class="ingredients-glossary--description ">
          {% for metaobject in glossaryMetaobjects %}
            <div class="ingredients-glossary--description-item">
              <strong>{{ metaobject.title }}</strong>
              <div>
                {{ metaobject.description | metafield_tag }}
              </div>
          </div>
          {% endfor %}  
          </div>
          </div>
        {%- endcapture -%}


        <div class="popover-buttons">
        {%- assign popoverTitle = "Ingredients For " | append: product.title -%}
        {%- render 'popover', popoverId: "ingredients-glossary", popoverTitle: popoverTitle, popoverButton: "View All Ingredients", popoverContent: glossaryContent -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  document.querySelectorAll('.ProductContentIngredients--text-item').forEach(item => {
  item.addEventListener('click', function() {
    document.querySelectorAll('.ProductContentIngredients--text-item').forEach(el => el.classList.remove('active'));
    this.classList.add('active');
  });
});

});
</script>