
<div class="container">
  <div class="product-content-ingredients">      
    <h3 class="heading h3 text--bold hide-desktop">{{ section.settings.title }}</h3>
    <div class="product-content-ingredients--image">
      {%- if product.metafields.custom.product_key_ingredients__vimeo != blank -%}
        {% assign vimeoVideoId = product.metafields.custom.product_key_ingredients__vimeo %}
      {%- endif -%}
      
      {%- if vimeoVideoId != blank -%}
        {%- assign video_url_transform = 'https://player.vimeo.com/video/' | append: vimeoVideoId | append: '?autoplay=1&loop=1&background=1&muted=1&portrait=0&byline=0' -%}
        <iframe src="{{ video_url_transform }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        </iframe>
      {%- else -%}
        {% render "responsive-image-metafields", src_desktop: product.metafields.custom.product_key_ingredients__image_desktop, src_mobile: product.metafields.custom.product_key_ingredients__image_mobile %}
      {%- endif -%}
    </div>
    
    <div class="product-content-ingredients--text">
      <h3 class="heading h3 text--bold hide-mobile">{{ section.settings.title }}</h3>
      <div class="hidden-phone hidden-tablet">
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients_featured.value | sort: "title" -%}
        {% for metaobject in glossaryMetaobjects %}
          <div class="product-content-ingredients--text-item">
            <p class="heading h4 text--bold">{{ metaobject.title | strip_html }}</p>
            {{ metaobject.description | metafield_tag }}
          </div>
        {% endfor %}  
      </div>
      
      <div class="product-content-ingredients--text__mobile hide-desktop">
        <div class="line"></div>
        {%- assign ingredientCounter = 0 -%}
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients_featured.value | sort: "title" -%}
        {% for metaobject in glossaryMetaobjects %}
            <div class="product-content-ingredients--text-item__mobile {% if ingredientCounter == 0 %}active{% endif %}" data-action="activate">
              {%- assign ingredientCounter = 1 -%}
              <p class="heading h4 text--bold">{{ metaobject.title | strip_html }}</p>
              <div class="text">{{ metaobject.description | metafield_tag }}</div>
            </div>
        {% endfor %} 
      </div>


      {%- capture glossaryContent -%}
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients.value | sort: "title" -%}
        <div class="ingredients-glossary">
        <div class="ingredients-glossary--description ">
        {% for metaobject in glossaryMetaobjects %}
          <div class="ingredients-glossary--description-item">
            <strong>{{ metaobject.title }}</strong>
            <div>
              {{ metaobject.description | metafield_tag }}
            </div>
        </div>
        {% endfor %}  
        </div>
        </div>
      {%- endcapture -%}

      {%- assign popoverTitle = "Ingredients For " | append: product.title -%}
      {%- render 'popover', popoverId: "ingredients-glossary", popoverTitle: popoverTitle, popoverButton: "View All Ingredients", popoverContent: glossaryContent -%}

    </div>
  </div>
</div>
