
<div class="container">
  <div class="product-content-ingredients">      
    <h3 class="heading h3 text--bold hide-desktop">{{ section.settings.title }}</h3>
    <div class="product-content-ingredients--image">
      {%- if product.metafields.custom.product_key_ingredients__vimeo != blank -%}
        {% assign vimeoVideoId = product.metafields.custom.product_key_ingredients__vimeo %}
      {%- endif -%}
      
      {%- if vimeoVideoId != blank -%}
        <div class="product-content-ingredients--video">
          {%- assign video_url_transform = 'https://player.vimeo.com/video/' | append: vimeoVideoId | append: '?autoplay=1&loop=1&background=1&muted=1&portrait=0&byline=0' -%}
          <iframe src="{{ video_url_transform }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
          </iframe>
        </div>
    
      {%- else -%}
        {% render "responsive-image-metafields", src_desktop: product.metafields.custom.product_key_ingredients__image_desktop, src_mobile: product.metafields.custom.product_key_ingredients__image_mobile %}
      {%- endif -%}
    </div>
    
    <div class="product-content-ingredients--text">
      <h3 class="heading h3 text--bold hide-mobile">{{ section.settings.title }}</h3>
      <div class="hide-mobile">
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients_featured.value  -%}
        {% for metaobject in glossaryMetaobjects %}
          <div class="product-content-ingredients--text-item">
            <p class="heading h4 text--bold">{{ metaobject.title | strip_html }}</p>
            {{ metaobject.description | metafield_tag }}
          </div>
        {% endfor %}  
      </div>
      
      <div class="product-content-ingredients--text__mobile hide-desktop">
        <div class="line"></div>
        {%- assign ingredientCounter = 0 -%}
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients_featured.value  -%}
        {% for metaobject in glossaryMetaobjects %}
            <div class="product-content-ingredients--text-item__mobile {% if ingredientCounter == 0 %}active{% endif %}" data-action="activate">
              {%- assign ingredientCounter = 1 -%}
              <p class="heading h4 text--bold">{{ metaobject.title | strip_html }}</p>
              <div class="text">{{ metaobject.description | metafield_tag }}</div>
            </div>
        {% endfor %} 
      </div>


      {%- capture glossaryContent -%}
        {%- assign glossaryMetaobjects = product.metafields.custom.ingredients.value | sort: "title" -%}
        <div class="ingredients-glossary">
        <div class="ingredients-glossary--description ">
        {% for metaobject in glossaryMetaobjects %}
          <div class="ingredients-glossary--description-item">
            <strong>{{ metaobject.title }}</strong>
            <div>
              {{ metaobject.description | metafield_tag }}
            </div>
        </div>
        {% endfor %}  

         </div>
        </div>
       
        {%- if product.variants.size > 1 -%}

            <div class="faq faq-ingredients hide-desktop">
              <div class="faq__wrapper" itemscope itemtype="https://schema.org/FAQPage">
                  {%- for variant in product.variants -%}
                       {%- assign glossaryMetaobjects = variant.metafields.custom.ingredients.value | sort: "title" -%}
                  <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"
                      id="variant-{{ variant.id }}-mobile">
                      <button is="toggle-button" class="collapsible-toggle text--strong heading"
                          aria-controls="block-ingredients-{{ variant.id }}-mobile" aria-expanded="false" itemprop="name">
                          {{- variant.title -}}
                          <span class="animated-plus"></span>
                      </button>

                      <collapsible-content id="block-ingredients-{{ variant.id }}-mobile" class="collapsible anchor" itemscope
                          itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                          <div class="collapsible__content text-container" itemprop="text">


                              <div class="ingredients-glossary">
                                  <div class="ingredients-glossary--description ">

                                      {% for metaobject in glossaryMetaobjects %}
                                      <div class="ingredients-glossary--description-item"
                                          data-title="{{ metaobject.title | strip_html }}">
                                          <strong>{{ metaobject.title }}</strong>
                                          <div>
                                              {{ metaobject.description | metafield_tag }}
                                          </div>
                                      </div>
                                      {% endfor %} 

                                  </div>
                              </div>
                          </div>
                      </collapsible-content>
                  </div>
                  {%- endfor -%}
              </div>
          </div>


          <div class="faq faq-ingredients hide-mobile">
              <div class="faq__wrapper" itemscope itemtype="https://schema.org/FAQPage">
                  {%- for variant in product.variants -%}
                       {%- assign glossaryMetaobjects = variant.metafields.custom.ingredients.value | sort: "title" -%}
                  <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"
                      id="variant-{{ variant.id }}">
                      <button is="toggle-button" class="collapsible-toggle text--strong heading"
                          aria-controls="block-ingredients-{{ variant.id }}" aria-expanded="false" itemprop="name">
                          {{- variant.title -}}
                          <span class="animated-plus"></span>
                      </button>

                      <collapsible-content id="block-ingredients-{{ variant.id }}" class="collapsible anchor" itemscope
                          itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                          <div class="collapsible__content text-container" itemprop="text">


                              <div class="ingredients-glossary">
                                  <div class="ingredients-glossary--description ">

                                      {% for metaobject in glossaryMetaobjects %}
                                      <div class="ingredients-glossary--description-item"
                                          data-title="{{ metaobject.title | strip_html }}">
                                          <strong>{{ metaobject.title }}</strong>
                                          <div>
                                              {{ metaobject.description | metafield_tag }}
                                          </div>
                                      </div>
                                      {% endfor %} 

                                  </div>
                              </div>
                          </div>
                      </collapsible-content>
                  </div>
                  {%- endfor -%}
              </div>
          </div> 


        
          {% endif %}


          {% comment %} {%- for variant in product.variants -%}
            {%- assign glossaryMetaobjects = variant.metafields.custom.ingredients.value | sort: "title" -%}
            {%- assign firstVariantLoop = true -%}

              {% for metaobject in glossaryMetaobjects %}
                {%- if firstVariantLoop == true -%}
                    <div class="ingredients-glossary--description-title heading" data-title="{{ metaobject.title | strip_html }}">
                    {{ product.title }} - {{ variant.title }}
                    </div>
                    {%- assign firstVariantLoop = false -%}
                {%- endif -%}
            

              <div class="ingredients-glossary--description-item" data-title="{{ metaobject.title | strip_html }}">
                <strong>{{ metaobject.title }}</strong>
                <div>
                  {{ metaobject.description | metafield_tag }}
                </div>
              </div>
            {% endfor %} 
            
            
          {%- endfor -%}
          {%- endif -%} {% endcomment %}

          


      {%- endcapture -%}

      {%- assign popoverTitle = "Ingredients For " | append: product.title -%}
      {%- render 'popover', popoverId: "ingredients-glossary", popoverTitle: popoverTitle, popoverButton: "View All Ingredients", popoverContent: glossaryContent -%}

    </div>
  </div>
</div>
