{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "custom.js" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}

<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar' or 'arc' or 'dv' or 'fa' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'ps' or 'ur' or 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}

<html class="no-js {% if request.design_mode %}theme-editor{% endif %}" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    {% include "hide-pages-from-SEO" %}

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %} 
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%} 
    {% endcomment %}

    {% render "favicon" %}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    {%- comment -%}Preload important resources{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">

    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}

      <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>

      {%- if product.media.size > 1 -%}
        <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'microdata-schema' %}
    {% render 'hreflang' %}

    {%- if brand == "go-to" -%}
      {% render 'css-variables', direction: direction %}
    {%- elsif brand == "bro-to" -%}
      {% render 'css-variables--bro-to', direction: direction %}
    {%- elsif brand == "gro-to" -%}
      {% render 'css-variables--gro-to', direction: direction %}
    {%- endif -%}
    
    {% render 'js-variables', direction: direction %}
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    {%- render "files-css" -%}

    {%- if product -%}
      <link rel="stylesheet" href="{{ 'products.css' | asset_url }}">
    {%- endif -%}

    {%- if collection -%}
      <link rel="stylesheet" href="{{ 'collections.css' | asset_url }}">
    {%- endif -%}

    {%- if settings.show_glitter == true and settings.show_glitter_on_template contains template.suffix or settings.show_glitter == true and settings.show_glitter_on_template contains template -%}
      <link rel="stylesheet" href="{{ 'glitter.css' | asset_url }}">
    {%- endif -%}


    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    {%- render 'files-js' -%}

    {{ content_for_header }}

    {% section "label-colours" %}
  </head>

  {%- assign feature_classes = 'header-position--top' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  {%- if settings.enable_compact_mobile_header -%}
    {% assign feature_classes = feature_classes | append: ' compact-mobile-header' %}
  {%- endif -%}

  {% capture template_classes %} template-{{ template.name }} template-{{ template.name }}--{{ template.suffix }} {{ template.name }}--{{ page_title | handle }}{% endcapture %}
  {%- assign feature_classes = feature_classes | append: template_classes -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <loading-bar class="loading-bar"></loading-bar>

    {% comment %} {%- sections 'overlay-group' -%} 
    {%- sections 'overlay-group--gro-to' -%} 
    {%- sections 'overlay-group--bro-to' -%}  {% endcomment %}

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- if brand == "go-to" -%}
        {%- sections 'header-group' -%}
      {%- elsif brand == "bro-to" -%}
        {%- sections 'header-group--bro-to' -%}
      {%- elsif brand == "gro-to" -%}
        {%- sections 'header-group--gro-to' -%}
      {%- endif -%}

      {%- if blog or article -%}
        {% section "blog-header" %}
      {%- endif -%}
   
      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}

    <div id="main" role="main" class="anchor">
    {% comment %} {%- include "icon-go-to--earth" -%} {% endcomment %}
      {%- render 'theme--special-effects--header' -%}
      {%- include "theme--filter-search" -%}

      {%- sections 'aside-group' -%}
      {{ content_for_layout }}
    </div>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- sections 'footer-group' -%}

      {%- if brand == "go-to" -%}
        {%- sections 'footer-group--go-to' -%}
      {%- elsif brand == "bro-to" -%}
        {%- sections 'footer-group--bro-to' -%}
      {%- elsif brand == "gro-to" -%}
        {%- sections 'footer-group--gro-to' -%}
      {%- endif -%}
    {%- endif -%}

    {%- render 'theme--special-effects--footer' -%}

  </body>
</html>