{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}



  <section>
    <div class="container">
  
    <div class="brand-switcher--brands">
      {%- for block in section.blocks -%}
        {%- assign isHomepage = false -%}
  
        {%- if template == "index" and brand == "go-to" -%}
          {%- assign isHomepage = true -%}
        {%- elsif block.settings.brand == brand and block.settings.brand_url and brand == "bro-to" -%}
          {%- assign isHomepage = true -%}
        {%- elsif block.settings.brand == brand and block.settings.brand_url and brand == "gro-to" -%}
            {%- assign isHomepage = true -%}
        {%- endif -%}
  
        {%- if isHomepage and block.settings.brand == brand -%}
          <button class="brand-switcher--brand {{ block.settings.brand }} {% if brand == block.settings.brand %}active{% endif %}">
          {% else %}
          <a href="{% if block.settings.brand == "go-to" %}{{ routes.root_url }}{% else %}{{ block.settings.brand_url }}{% endif %}" class="brand-switcher--brand {{ block.settings.brand }} {% if brand == block.settings.brand %}active{% endif %}">
        {%- endif -%}
  
        {%- if block.settings.brand == "go-to" -%}
          {%- render 'svg--logo-go-to' -%}
        {%- elsif block.settings.brand == "bro-to" -%}
          {%- render 'svg--logo-bro-to' -%}
        {%- elsif block.settings.brand == "gro-to" -%}
          {%- render 'svg--logo-gro-to' -%}
        {%- endif -%}
  
        {%- if isHomepage and block.settings.brand == brand-%}
        </button>
        {% else %}
        </a>
      {%- endif -%}
      {%- endfor -%}
    </div>
  
  
    {%- if shop.customer_accounts_enabled -%}
      <div class="customer-accounts-login">
    
      <a href="{% if customer %}{{ routes.account_url }}{% else %}/pages/go-to-gang{% endif %}" class="customer-accounts-login--loyalty" aria-label="{% if customer %}{{ 'header.general.account' | t | escape }}{% else %}{{ 'header.general.login' | t | escape }}{% endif %}">
        <img src="{{ 'loyalty--go-to-gang-V2.svg' | asset_url }}" alt="Go-To Gang">
      </a>
  
      <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="customer-accounts-login--account" aria-label="{% if customer %}{{ 'header.general.account' | t | escape }}{% else %}{{ 'header.general.login' | t | escape }}{% endif %}">
        {% if customer %}
          {%- if customer.first_name -%}
          Hi {{ customer.first_name  }}!
          {% else %}
          Account
          {%- endif -%}
        {% else %}
        Login
        {% endif %}
      </a>
    </div>
  {%- endif -%}
  
  
    </div>
  </section>
  
  {% schema %}
  {
    "name": "Brand Switcher",
    "class": "shopify-section--brand-switcher",
    "blocks": [
      {
        "type": "brand",
        "name": "Brand",
        "settings": [
          {
            "type": "radio",
            "id": "brand",
            "label": "Brand",
            "options": [
              {
                "value": "go-to",
                "label": "🟪 Go-To"
              },
              {
                "value": "bro-to",
                "label": "🟥 Bro-To"
              },
              {
                "value": "gro-to",
                "label": "🟩 Gro-To"
              }
            ]
          },
          {
            "type": "url",
            "id": "brand_url",
            "label": "Brand Landing Page",
            "info": "If Go-To - can leave blanks. Will automatically go to homepage."
          }
        ]
      }
    ]
  }
  {% endschema %}
  