<style>
  #shopify-section-{{ section.id }} {
    --section-background: {{ section.settings.background }};
    --border-color: {{ section.settings.border_color }};
  }
</style> 




<section>
<div class="{% if section.settings.enable_container %}container{% endif %}">
  <div class="page-header">
    <link-bar class="link-bar">
      <div class="container">
        <div class="link-bar__wrapper">

        {%- if section.settings.main_text != blank -%}
          <span class="link-bar__title heading heading--small text--subdued">{{ section.settings.main_text }}</span>
        {%- endif -%}

          <div class="link-bar__scroller hide-scrollbar">
            <ul class="link-bar__linklist list--unstyled" role="list">
              {%- for block in section.blocks -%}
                <li class="link-bar__link-item {% if canonical_url contains block.settings.url %}link-bar__link-item--selected text--underlined{% endif %}">
                  <a href="{{ block.settings.url }}">
                    <strong>{{ block.settings.text }}</strong>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </link-bar>
  </div>
</div>
</section>


{% schema %}
  {
    "name": "Custom Navigation",
    "class": "shopify-section--custom-navigation",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_container",
        "label": "Enable Container",
        "default": true
      },
      {
        "type": "text",
        "id": "main_text",
        "label": "Navigation Title",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Colour",
        "default": "#dddddd"
      }
    ],
    "blocks": [
      {
        "name": "Link",
        "type": "link",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Navigation"
      }
    ]
  }
{% endschema %}