{%- capture styles -%}
<style>
  #shopify-section-{{ section.id }} {
    --section-background-mobile: {{ section.settings.background_mobile }};
    --section-background-desktop: {{ section.settings.background_desktop }};

    --paddingVerticalMobile: {{ section.settings.padding_vertical_mobile }}px;
    --paddingHorizontalMobile: {{ section.settings.padding_horizontal_mobile }}px;

    --paddingVerticalDesktop: {{ section.settings.padding_vertical_desktop }}px;
    --paddingHorizontalDesktop: {{ section.settings.padding_horizontal_desktop }}px;

    --position-desktop: {{ section.settings.position_desktop }};
    --position-mobile: {{ section.settings.position_mobile }};
  }
</style>
{%- endcapture -%}
{{- styles | strip_newlines | remove:" " | strip -}}

<section class="{% if section.settings.hide_desktop %}hide-desktop{% endif %} {% if section.settings.hide_mobile %}hide-mobile{% endif %}" {% if section.settings.id != blank %}id="{{ section.settings.id }}"{% endif %}> 

  {%- if section.settings.enable_container -%}
    <div class="container">
  {%- endif -%}

  {%- for block in section.blocks -%}
    {%- capture blockId -%}id="block-{{ block.id }}"{%- endcapture -%}

    {%- comment -%} CONTAINERS --- START  {%- endcomment -%}
    {%- include "blocks--containers" -%}
    {%- comment -%} CONTAINERS --- END  {%- endcomment -%}

    {%- include "blocks--images" -%}
    {%- include "blocks--video" -%}
    {%- include "blocks--image-text-overlay" -%}
    {%- include "blocks--text" -%}
    {%- include "blocks--product-item" -%}
    {%- include "blocks--product-ATC" -%}
    {%- include "blocks--button" -%}
    {%- include "blocks--spacer" -%}
    {%- include "blocks--liquid" -%}
  {%- endfor -%}


  {%- comment -%} Button Modal --- START  {%- endcomment -%}
  {%- for block in section.blocks -%}
    {%- if block.type == "button" and block.settings.modal_content != blank -%}
      {%- assign modalId = block.settings.button_text | handle -%}
      {%- assign buttonId = block.id | prepend: "block-" -%}
      {%- assign content_square_id = block.settings.content_square_id -%}
      {%- render 'modal', modalId: modalId, content: block.settings.modal_content, buttonId: buttonId, content_square_id:content_square_id -%}
    {%- endif -%}
  {%- endfor -%}
  {%- comment -%} Button Modals --- START  {%- endcomment -%}


  {%- if section.settings.enable_container -%}
    </div>
  {%- endif -%}

</section>

{% schema %}
{
  "name": "🧩 Custom Layout",
  "class": "shopify-section--custom-layout",
  "disabled_on": {
    "groups": [
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Admin Title",
      "info": "Only Admin Will See This.",
      "default": "🧩 Custom Layout"
    },
    {
      "type": "text",
      "id": "id",
      "label": "ID",
      "info": "Optional. Used with in-page navigation."
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide Mobile?"
    },
    {
      "type": "checkbox",
      "id": "hide_desktop",
      "label": "Hide Desktop?"
    },

    {
      "type": "checkbox",
      "id": "enable_container",
      "label": "Enable Container"
    },
    {
        "type": "header",
        "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---"
    },
    {
        "type": "color",
        "id": "background_desktop",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "header",
        "content": "⏹️ Container Padding (Desktop)",
        "info": "Space around the container. Use values that are multiples of 8. E.g. 8. 16, 32. Can use have half values. E.g. 4,12."
    },
    {
        "type": "range",
        "id": "padding_vertical_desktop",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "default": 0,
        "label": "↕️ Top/Bottom"
    },
    {
        "type": "range",
        "id": "padding_horizontal_desktop",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "default": 0,
        "label": "↔️ Left/Right"
    },
    {
      "type": "select",
      "id": "position_desktop",
      "label": "Position",
      "info": "Keep as relative. If wanting to overlay an element, the parent is 'Relative', and the child is 'Absolute'.",
      "options": [
        {
          "value": "relative",
          "label": "Relative"
        },
        {
          "value": "absolute",
          "label": "Absolute"
        }
      ]
    },
    {
      "type": "select",
      "id": "position_absolute_desktop",
      "label": "Absolute Position",
      "options": [
        {
          "value": "top_left",
          "label": "Top left"
        },
        {
          "value": "top_center",
          "label": "Top center"
        },
        {
          "value": "top_right",
          "label": "Top right"
        },
        {
          "value": "middle_left",
          "label": "Middle left"
        },
        {
          "value": "middle_center",
          "label": "Middle center"
        },
        {
          "value": "middle_right",
          "label": "Middle right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_center",
          "label": "Bottom center"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ]
    },
    {
        "type": "header",
        "content": "--- 📱 MOBILE SETTINGS 📱 ---"
    },
    {
        "type": "color",
        "id": "background_mobile",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
    },
    {
        "type": "header",
        "content": "⏹️ Container Padding (Mobile)",
        "info": "Space around the container. Use values that are multiples of 8. E.g. 8. 16, 32. Can use have half values. E.g. 4,12."
    },
    {
        "type": "range",
        "id": "padding_vertical_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "↕️ Top/Bottom"
    },
    {
        "type": "range",
        "id": "padding_horizontal_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "↔️ Left/Right"
    },
    {
      "type": "select",
      "id": "position_mobile",
      "label": "Position",
      "info": "Keep as relative. If wanting to overlay an element, the parent is 'Relative', and the child is 'Absolute'.",
      "options": [
        {
          "value": "relative",
          "label": "Relative"
        },
        {
          "value": "absolute",
          "label": "Absolute"
        }
      ]
    },
    {
      "type": "select",
      "id": "position_absolute_mobile",
      "label": "Absolute Position",
      "options": [
        {
          "value": "unset",
          "label": "Unset"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "note",
      "name": "📝 Block Note",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Block Note",
          "info": "Only Admin Will See This. 🟣🔴🔵🟢🟡🟠⚫️⚪️",
          "default": "🟡 --- IMAGE ---"
        }
      ]
    },   
    {
      "type": "container-start",
      "name": "⏹️⏹️ Container - START",
      "settings": [
        {
          "type": "paragraph",
          "content": "Use '📶 Column - START' or ⏹️⏹️ Container - START"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Block Note",
          "info": "Only Admin Will See This.",
          "default": "⏹️⏹️ Container - START"
        },
        {
          "type": "select",
          "id": "page_width",
          "label": "Container Width",
          "info": "Will Overwrite the 'Container Width' settings below.",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "unset"
        },
        {
          "type": "header",
          "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---"
        },
        {
        "type": "color",
        "id": "background_desktop",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "🈁 🖥️ Grid (Desktop)"
        },
        {
          "type": "select",
          "id": "desktop_grid",
          "label": "Grid",
          "info": "Use 'Flex Grid' to choose custom widths for blocks inside this container.", 
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "One"
            },
            {
              "value": "2",
              "label": "Two"
            },
            {
              "value": "3",
              "label": "Three"
            },
            {
              "value": "4",
              "label": "Four"
            },
            {
              "value": "5",
              "label": "Five"
            },
            {
              "value": "6",
              "label": "Six"
            },
            {
              "value": "flex-grid",
              "label": "Flex Grid (One Row)"
            },
            {
              "value": "flex-grid-wrap",
              "label": "Flex Grid (Multi Row)"
            },
            {
              "value": "flex-column",
              "label": "Flex Column"
            },
            {
              "value": "flex-column-reverse",
              "label": "Flex Column (Reverse)"
            }
          ]
        },
        {
          "type": "select",
          "id": "flex_justify_content_desktop",
          "label": "Justify Content",
          "info": "Use 'Flex Grid' or 'Flex Column' to choose the block alignment inside this container.", 
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "flex-end",
              "label": "End"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "space-around",
              "label": "Space Around"
            },
            {
              "value": "space-between",
              "label": "Space Between"
            },
            {
              "value": "space-evenly",
              "label": "Space evenly"
            }
          ]
        },
        {
          "type": "select",
          "id": "flex_align_items_desktop",
          "label": "Align Items",
          "info": "Use 'Flex Grid' or 'Flex Column' to choose the block alignment inside this container.", 
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "flex-end",
              "label": "End"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "header",
          "content": "⏹️ Container Padding (Desktop)",
          "info": "Space around the container. Use values that are multiples of 8. E.g. 8. 16, 32. Can use have half values. E.g. 4,12."
        },
        {
          "type": "range",
          "id": "padding_vertical_desktop",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "↕️ Top/Bottom"
        },
        {
          "type": "range",
          "id": "padding_horizontal_desktop",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "px",
          "default": 0,
          "label": "↔️ Left/Right"
        },
        {
          "type": "header",
          "content": "⏸️ Item Spacing (Desktop)",
          "info": "Space between Items"
        },
        {
          "type": "range",
          "id": "grid_gap_vertical_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↕️ Top/Bottom"
        },
        {
          "type": "range",
          "id": "grid_gap_horizontal_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↔️ Left/Right"
        },
        {
          "type": "header",
          "content": "📏 Max Width (Desktop)"
        },
        {
          "type": "select",
          "id": "max_width_enabled_desktop",
          "label": "Enable Max Width?",
          "default": "disabled",
          "options": [
            {
              "value": "disabled",
              "label": "Disabled"
            },
            {
              "value": "enabled",
              "label": "Custom Width"
            }
          ]
        },
        {
          "type": "range",
          "id": "max_width_value_desktop",
          "min": 100,
          "max": 2000,
          "step": 20,
          "unit": "px",
          "default": 400,
          "label": "Max Width (Pixels)"
        },
        {
          "type": "select",
          "id": "position_desktop",
          "label": "Position",
          "info": "Keep as relative. If wanting to overlay an element, the parent is 'Relative', and the child is 'Absolute'.",
          "options": [
            {
              "value": "relative",
              "label": "Relative"
            },
            {
              "value": "absolute",
              "label": "Absolute"
            }
          ]
        },
        {
          "type": "select",
          "id": "position_absolute_desktop",
          "label": "Absolute Position",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ]
        },
        {
          "type": "header",
          "content": "--- 📱 MOBILE SETTINGS 📱 ---"
        },
        {
        "type": "color",
        "id": "background_mobile",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
        },
        {
          "type": "header",
          "content": "🈁 📱 Grid (Mobile)"
        },
        {
          "type": "select",
          "id": "mobile_grid",
          "label": "Grid",
          "info": "Use 'Flex Grid' to choose custom widths for blocks inside this container.", 
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "One"
            },
            {
              "value": "2",
              "label": "Two"
            },
            {
              "value": "3",
              "label": "Three"
            },
            {
              "value": "4",
              "label": "Four"
            },
            {
              "value": "5",
              "label": "Five"
            },
            {
              "value": "6",
              "label": "Six"
            },
            {
              "value": "flex-grid",
              "label": "Flex Grid (One Row)"
            },
            {
              "value": "flex-grid-wrap",
              "label": "Flex Grid (Multi Row)"
            },
            {
              "value": "flex-column",
              "label": "Flex Column"
            },
            {
              "value": "flex-column-reverse",
              "label": "Flex Column (Reverse)"
            }
          ]
        },
        {
          "type": "select",
          "id": "flex_justify_content_mobile",
          "label": "Justify Content",
          "info": "Use 'Flex Grid' or 'Flex Column' to choose the block alignment inside this container.", 
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "flex-end",
              "label": "End"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "space-around",
              "label": "Space Around"
            },
            {
              "value": "space-between",
              "label": "Space Between"
            },
            {
              "value": "space-evenly",
              "label": "Space evenly"
            }
          ]
        },
        {
          "type": "select",
          "id": "flex_align_items_mobile",
          "label": "Align Items",
          "info": "Use 'Flex Grid' or 'Flex Column' to choose the block alignment inside this container.", 
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Start"
            },
            {
              "value": "flex-end",
              "label": "End"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },
        {
          "type": "header",
          "content": "⏹️ Container Padding (Mobile)",
          "info": "Space around the container. Use values that are multiples of 8. E.g. 8. 16, 32. Can use have half values. E.g. 4,12."
        },
        {
          "type": "range",
          "id": "padding_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↕️ Top/Bottom"
        },
        {
          "type": "range",
          "id": "padding_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↔️ Left/Right"
        },
        {
          "type": "header",
          "content": "⏸️ Item Spacing (Mobile)",
          "info": "Space between Items"
        },
        {
          "type": "range",
          "id": "grid_gap_vertical_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↕️ Top/Bottom"
        },
        {
          "type": "range",
          "id": "grid_gap_horizontal_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0,
          "label": "↔️ Left/Right"
        },
        {
          "type": "header",
          "content": "📏 Max Width (Mobile)"
        },
        {
          "type": "select",
          "id": "max_width_enabled_mobile",
          "label": "Enable Max Width?",
          "default": "disabled",
          "options": [
            {
              "value": "disabled",
              "label": "Disabled"
            },
            {
              "value": "enabled",
              "label": "Custom Width"
            }
          ]
        },
        {
          "type": "range",
          "id": "max_width_value_mobile",
          "min": 0,
          "max": 500,
          "step": 10,
          "unit": "px",
          "default": 100,
          "label": "Max Width (Pixels)"
        },
        {
          "type": "select",
          "id": "position_mobile",
          "label": "Position",
          "info": "Keep as relative. If wanting to overlay an element, the parent is 'Relative', and the child is 'Absolute'.",
          "options": [
            {
              "value": "relative",
              "label": "Relative"
            },
            {
              "value": "absolute",
              "label": "Absolute"
            }
          ]
        },
        {
          "type": "select",
          "id": "position_absolute_mobile",
          "label": "Absolute Position",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "container-end",
      "name": "⏹️⏹️ Container - END",
      "settings": [
        {
          "type": "paragraph",
          "content": "Use '📶 Column - END' or ⏹️⏹️ Container - END"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Block Note",
          "info": "Only Admin Will See This.",
          "default": "⏹️⏹️ Container - END"
        },
      ]
    },
    {
      "type": "image",
      "name": "🌠 Image",
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide Mobile?"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Hide Desktop?"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_desktop",
          "label": "Rounded Image Corners? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_mobile",
          "label": "Rounded Image Corners? (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_desktop",
          "label": "Fill Image Space? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_mobile",
          "label": "Fill Image Space? (Mobile)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Optional"
        },
        {
          "type": "header",
          "content": "Link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
        "type": "header",
        "content": "Width"
        },
        {
       "type": "select",
        "id": "width_desktop",
        "label": "🖥️ Width (Desktop)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        },
        {
        "type": "select",
        "id": "width_mobile",
        "label": "📱 Width (Mobile)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        }
      ]
    },
    {
      "type": "video",
      "name": "🎥 Video",
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide Mobile?"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Hide Desktop?"
        },
        {
          "type": "header",
          "content": "Video (Settings)"
        },
        {
          "type": "checkbox",
          "id": "enable_play_button",
          "label": "Enable Play Button?"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay?"
        },
        {
          "type": "checkbox",
          "id": "hide_controls",
          "label": "Hide Controls?"
        },
        {
          "type": "checkbox",
          "id": "rounded_video_corners_desktop",
          "label": "Rounded Video Corners? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "rounded_video_corners_mobile",
          "label": "Rounded Video Corners? (Mobile)"
        },
        {
          "type": "select",
          "id": "video_aspect_ratio_desktop",
          "label": "Video aspect ratio (Desktop)",
          "options": [
            {
              "value": "1",
              "label": "Square (1:1)"
            },
            {
              "value": "1.3333333",
              "label": "Normal (4:3)"
            },
            {
              "value": "0.5625",
              "label": "Cinematic (16:9)"
            },
            {
              "value": "0.4285714286",
              "label": "Wide (21:9)"
            }
          ]
        },
        {
          "type": "select",
          "id": "video_aspect_ratio_mobile",
          "label": "Video aspect ratio (Mobile)",
          "options": [
            {
              "value": "1",
              "label": "Square (1:1)"
            },
            {
              "value": "1.3333333",
              "label": "Normal (4:3)"
            },
            {
              "value": "1.7777778",
              "label": "Cinematic (16:9)"
            },
            {
              "value": "2.3333333",
              "label": "Wide (21:9)"
            }
          ]
        },
        {
          "type": "header",
          "content": "Video (URL)"
        },
        {
          "type": "video_url",
          "id": "video_url_desktop",
          "label": "Video (Desktop)",
          "accept": [
            "vimeo"
          ]
        },
        {
          "type": "video_url",
          "id": "video_url_mobile",
          "label": "Video (Mobile)",
          "accept": [
            "vimeo"
          ]
        },
        {
          "type": "header",
          "content": "Image (Poster)"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_desktop",
          "label": "Rounded Image Corners? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_mobile",
          "label": "Rounded Image Corners? (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_desktop",
          "label": "Fill Image Space? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_mobile",
          "label": "Fill Image Space? (Mobile)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Optional"
        },
        {
        "type": "header",
        "content": "Width"
        },
        {
       "type": "select",
        "id": "width_desktop",
        "label": "🖥️ Width (Desktop)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        },
        {
        "type": "select",
        "id": "width_mobile",
        "label": "📱 Width (Mobile)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        }
      ]
    },
    {
      "type": "text",
      "name": "💬 Text",
      "settings": [
        {
          "type": "paragraph",
          "content": "Text"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide Mobile?"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Hide Desktop?"
        },
        {
        "type": "header",
        "content": "Heading"
        },
        {
          "type": "select",
          "id": "heading_html",
          "label": "Heading Type",
          "info": "Important for SEO. (H1's should only be used if it's the page title)",
          "options": [
            {
              "value": "p",
              "label": "Paragraph (Default)"
            },
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id": "preset_heading_styles",
          "label": "Preset Heading Styles",
          "info": "Use 'Unset' to customize the font style below. 'Font Family' & 'Font Alignment' can be used with any option.",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "heading h1",
              "label": "H1"
            },
            {
              "value": "heading h2",
              "label": "H2"
            },
            {
              "value": "heading h3",
              "label": "H3"
            },
            {
              "value": "heading h4",
              "label": "H4"
            },
            {
              "value": "heading h5",
              "label": "H5"
            },
            {
              "value": "heading h6",
              "label": "H6"
            },
            {
              "value": "heading heading--xsmall",
              "label": "Heading (Extra Small)"
            },
            {
              "value": "heading heading--small",
              "label": "Heading (Small)"
            },
            {
              "value": "heading heading--large",
              "label": "Heading (Large)"
            },
            {
              "value": "text text--xsmall",
              "label": "Text (Extra Small)"
            },
            {
              "value": "text text--small",
              "label": "Text (Small)"
            },
            {
              "value": "text text--large",
              "label": "Text (Large)"
            }
          ]
        },
        {
        "type": "header",
        "content": "🌫️ Read More"
        },
        {
          "type": "checkbox",
          "id": "read_more",
          "label": "Enable Read More"
        },
        {
            "type": "text",
            "id": "read_more_button_text",
            "label": "Button text"
        },
        {
            "type": "radio",
            "id": "read_more_button_style",
            "label": "Button Style",
            "options": [
              {
              "value": "button--primary",
              "label": "Button"
            },
            {
                "value": "button--secondary",
                "label": "Button (Secondary)"
            },
            {
                "value": "button--ternary",
                "label": "Button (Ternary)"
            },
            {
                "value": "button--ternary-white",
                "label": "Button (Ternary - White)"
            },
            {
                "value": "button--outline",
                "label": "Button (Outline)"
            },
            {
                "value": "link",
                "label": "Link"
            },
            {
                "value": "link-with-arrow",
                "label": "Link (With Arrow)"
            },
            {
            "value": "link-with-arrow-white",
            "label": "White Link (With Arrow)"
            }
            ],
            "default": "button--primary"
        },
        {
        "type": "header",
        "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---"
        },
        {
        "type": "header",
        "content": "🖥️ Colour (Desktop)"
        },
        {
          "type": "paragraph",
          "content": "🟪 Go-To | Pink: #f9c6b9; Light Pink: #FDE4DB; Black: #181818; Grey: #DCE0E4; Light Grey: #F2F2F2; Learn More - View the Style Guide Template in the theme editor."
        },
        {
          "type": "paragraph",
          "content": "🟥 Bro-To | Red: #ef3534; Dark Blue: #192a42; Light Blue: #0DA9C5; Grey: #f0f0f5; Light Grey: #F9F9F9; Learn More - View the Style Guide Template in the theme editor."
        },
        {
          "type": "paragraph",
          "content": "🟩 Gro-To | Blue: #00bce7; Navy: #002DAC; Light Blue: #0DA9C5; Yellow: #f9cf63; Purple: #b493c4; Pink: #f06098; Red: #ff0001; Green: #59C160; Orange: #F48120;"
        },
        {
          "type": "paragraph",
          "content": "❔View Full Style Guide - Go to the template 'styleguide' in the theme editor."
        },
        {
          "type": "color",
          "id": "font_color_desktop",
          "label": "Colour",
          "default": "#181818"
        },
        {
        "type": "header",
        "content": "🖥️ Margins (Desktop)"
        },
        {
        "type": "range",
        "id": "margin_top_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "⬆ Margin Top"
        },
        {
        "type": "range",
        "id": "margin_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "⬇ Margin Bottom"
        },
        {
        "type": "header",
        "content": "🖥️ Fonts (Desktop)"
        },
        {
          "type": "select",
          "id": "font_alignment_desktop",
          "label": "Font Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "font_family_desktop",
          "label": "Font Family",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "font_style_desktop",
          "label": "Font Style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "font_weight_desktop",
          "label": "Font Weight",
          "options": [
            {
              "value": "300",
              "label": "Light (300)"
            },
            {
              "value": "400",
              "label": "Normal (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "600",
              "label": "Semi-Bold (600)"
            },
            {
              "value": "700",
              "label": "Bold (700)"
            }
          ],
          "default": "400"
        },
        {
        "type": "range",
        "id": "font_size_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 16,
        "label": "Font Size"
        },
        {
        "type": "range",
        "id": "font_line_height_desktop",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 1,
        "label": "Line Height"
        },
        {
        "type": "range",
        "id": "font_letter_spacing_desktop",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 1,
        "label": "Letter Spacing"
        },
        {
          "type": "header",
          "content": "--- 📱 MOBILE SETTINGS 📱 ---"
        },
        {
        "type": "header",
        "content": "📱 Colour (Mobile)"
        },
        {
          "type": "paragraph",
          "content": "🟪 Go-To | Pink: #f9c6b9; Light Pink: #FDE4DB; Black: #181818; Grey: #DCE0E4; Light Grey: #F2F2F2; Learn More - View the Style Guide Template in the theme editor."
        },
        {
          "type": "paragraph",
          "content": "🟥 Bro-To | Red: #ef3534; Dark Blue: #192a42; Light Blue: #0DA9C5; Grey: #f0f0f5; Light Grey: #F9F9F9; Learn More - View the Style Guide Template in the theme editor."
        },
        {
          "type": "paragraph",
          "content": "🟩 Gro-To | Blue: #00bce7; Navy: #002DAC; Light Blue: #0DA9C5; Yellow: #f9cf63; Purple: #b493c4; Pink: #f06098; Red: #ff0001; Green: #59C160; Orange: #F48120;"
        },
        {
          "type": "paragraph",
          "content": "❔View Full Style Guide - Go to the template 'styleguide' in the theme editor."
        },
        {
          "type": "color",
          "id": "font_color_mobile",
          "label": "Colour",
          "default": "#181818"
        },
        {
        "type": "header",
        "content": "📱 Margins (Mobile)"
        },
        {
        "type": "range",
        "id": "margin_top_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "⬆ Margin Top"
        },
        {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0,
        "label": "⬇ Margin Bottom"
        },
        {
        "type": "header",
        "content": "📱 Fonts (Mobile)"
        },
        {
          "type": "select",
          "id": "font_alignment_mobile",
          "label": "Font Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "font_family_mobile",
          "label": "Font Family",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "font_style_mobile",
          "label": "Font Style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "font_weight_mobile",
          "label": "Font Weight",
          "options": [
            {
              "value": "300",
              "label": "Light (300)"
            },
            {
              "value": "400",
              "label": "Normal (400)"
            },
            {
              "value": "500",
              "label": "Medium (500)"
            },
            {
              "value": "600",
              "label": "Semi-Bold (600)"
            },
            {
              "value": "700",
              "label": "Bold (700)"
            }
          ],
          "default": "400"
        },
        {
        "type": "range",
        "id": "font_size_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 16,
        "label": "Font Size"
        },
        {
        "type": "range",
        "id": "font_line_height_mobile",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 1,
        "label": "Line Height"
        },
        {
        "type": "range",
        "id": "font_letter_spacing_mobile",
        "min": 0,
        "max": 5,
        "step": 0.1,
        "default": 1,
        "label": "Letter Spacing"
        }
      ]
    },
    {
      "type": "product-item",
      "name": "🛍️ Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "enable_product_fill_space",
          "label": "Enable Fill Space"
        },
        {
        "type": "header",
        "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---",
        },
        {
            "type": "header",
            "content": "Margins",
        },
        {
            "type": "range",
            "id": "margin_top_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        },
        {
            "type": "header",
            "content": "--- 📱 MOBILE SETTINGS 📱 ---"
        },
        {
            "type": "range",
            "id": "margin_top_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        }
      ]
    },
    {
      "type": "product-ATC",
      "name": "🛍️ Product (Add To Cart)",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
        "type": "header",
        "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---",
        },
        {
            "type": "header",
            "content": "Margins",
        },
        {
            "type": "range",
            "id": "margin_top_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        },
        {
            "type": "header",
            "content": "--- 📱 MOBILE SETTINGS 📱 ---"
        },
        {
            "type": "range",
            "id": "margin_top_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        }
      ]
    },
    {
      "type": "button",
      "name": "✅ Button",
      "settings": [
        {
          "type": "text",
          "id": "content_square_id",
          "label": "Content Square Button ID",
          "info": "Must match the 'Content Square' section in the header."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "radio",
            "id": "button_style",
            "label": "Button Style",
            "options": [
              {
              "value": "button--primary",
              "label": "Button"
            },
            {
                "value": "button--secondary",
                "label": "Button (Secondary)"
            },
            {
                "value": "button--ternary",
                "label": "Button (Ternary)"
            },
            {
                "value": "button--ternary-white",
                "label": "Button (Ternary - White)"
            },
            {
                "value": "button--outline",
                "label": "Button (Outline)"
            },
            {
                "value": "link",
                "label": "Link"
            },
            {
                "value": "link-with-arrow",
                "label": "Link (With Arrow)"
            },
            {
            "value": "link-with-arrow-white",
            "label": "White Link (With Arrow)"
            }
            ],
            "default": "button--primary"
        },
        {
        "type": "header",
        "content": "🌫️ Modal"
        },
        {
          "type": "liquid",
          "id": "modal_content",
          "label": "Modal Content"
        },
        {
        "type": "header",
        "content": "--- 🖥️ DESKTOP SETTINGS 🖥️  ---",
        },
        {
            "type": "header",
            "content": "Margins"
        },
        {
            "type": "range",
            "id": "margin_top_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        },
        {
          "type": "select",
          "id": "flex_justify_content_desktop",
          "label": "Position",
          "info": "Position the button (Left, Center, Right)",
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ]
        },
        {
          "type": "color",
          "id": "button_color_desktop",
          "label": "Button Colour",
          "default": "#000000",
          "info": "Only works with button 'Outline' option"
        },
        {
            "type": "header",
            "content": "--- 📱 MOBILE SETTINGS 📱 ---"
        },
        {
            "type": "range",
            "id": "margin_top_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬆ Margin Top"
        },
        {
            "type": "range",
            "id": "margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "default": 0,
            "label": "⬇ Margin Bottom"
        },
        {
          "type": "select",
          "id": "flex_justify_content_mobile",
          "label": "Button Position",
          "info": "Position the button (Left, Center, Right)", 
          "default": "unset",
          "options": [
            {
              "value": "unset",
              "label": "Unset"
            },
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ]
        },
        {
          "type": "color",
          "id": "button_color_mobile",
          "label": "Button Colour",
          "default": "#000000",
          "info": "Only works with button 'Outline' option"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "🪐 Spacer",
      "settings": [
        {
          "type": "header",
          "content": "Colour"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Colour (Desktop)"
        },
        {
          "type": "color",
          "id": "color_mobile",
          "label": "Colour (Mobile)"
        },
        {
          "type": "header",
          "content": "Height"
        },
        {
          "type": "range",
          "label": "Height (Desktop)",
          "id": "height_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 36
        },
        {
          "type": "range",
          "label": "Height (Mobile)",
          "id": "height_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 24
        }
      ]
    },
    {
      "type": "image-text-overlay",
      "name": "🌆 Image (Text Overlay)",
      "settings": [
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide Mobile?"
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Hide Desktop?"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "font_family",
          "label": "Font Family",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_desktop",
          "label": "Rounded Image Corners? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "rounded_image_corners_mobile",
          "label": "Rounded Image Corners? (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_desktop",
          "label": "Fill Image Space? (Desktop)"
        },
        {
          "type": "checkbox",
          "id": "fill_image_mobile",
          "label": "Fill Image Space? (Mobile)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Optional"
        },
        {
          "type": "header",
          "content": "Link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
        "type": "header",
        "content": "Width"
        },
        {
       "type": "select",
        "id": "width_desktop",
        "label": "🖥️ Width (Desktop)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        },
        {
        "type": "select",
        "id": "width_mobile",
        "label": "📱 Width (Mobile)",
        "info": "Only Required If Using 'Flex Grid' in the 'Container'",
        "default": "100",
        "options": [
            {
            "value": "25",
            "label": "25%"
            },
            {
            "value": "33",
            "label": "33%"
            },
            {
            "value": "50",
            "label": "50%"
            },
            {
            "value": "66",
            "label": "66%"
            },
            {
            "value": "75",
            "label": "75%"
            },
            {
            "value": "100",
            "label": "100%"
            }
        ]
        }
      ]
    },
    {
      "type": "liquid",
      "name": "💧 Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "🧩 Custom Layout",
      "blocks": [
        {
          "type": "container-start"
        },
        {
          "type": "note",
          "settings": {
            "title": "🟡 --- LEFT SIDE ---"
          }
        },
        {
          "type": "container-start",
          "settings": {
            "title": "📶 Column - START"
          }
        },
        {
          "type": "container-end",
          "settings": {
            "title": "📶 Column - END"
          }
        },
        {
          "type": "note",
          "settings": {
            "title": "🟡 --- RIGHT SIDE ---"
          }
        },
        {
          "type": "container-start",
          "settings": {
            "title": "📶 Column - START"
          }
        },
        {
          "type": "container-end",
          "settings": {
            "title": "📶 Column - END"
          }
        },
        {
          "type": "container-end"
        }
      ]
    }
  ]
}
{% endschema %}


