<style>
  #shopify-section-{{ section.id }} {
    --section-background: {{ section.settings.background }};
    --background: {{ section.settings.background | color_to_rgb | remove: "rgb(" | remove: ")"}};
    --border-color: {{ section.settings.border_color }};
    --text-color: {{ section.settings.text_color }};
  }
</style> 




<section  {% if section.settings.id != blank %}id="{{ section.settings.id }}"{% endif %} class="{% if section.settings.hide_desktop %}hide-desktop{% endif %} {% if section.settings.hide_mobile %}hide-mobile{% endif %}">
<div class="{% if section.settings.enable_container %}container{% endif %}">
  <div class="page-header">
    <link-bar class="link-bar {% if section.settings.reduce_padding %}reduce-padding{% endif %}">
      <div class="container">
        <div class="link-bar__wrapper">

        {%- if section.settings.main_text != blank -%}
          <span class="link-bar__title heading heading--small text--subdued">{{ section.settings.main_text }}</span>
        {%- endif -%}

          <div class="link-bar__scroller hide-scrollbar">
            <ul class="link-bar__linklist list--unstyled" role="list">
              {%- assign canonical_url_updated = canonical_url | remove: shop.url  -%}
              {%- for block in section.blocks -%}
                <li class="link-bar__link-item {% if canonical_url_updated contains block.settings.url %}link-bar__link-item--selected text--underlined{% endif %}">
                  <a href="{{ block.settings.url }}">
                    <strong>{{ block.settings.text }}</strong>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </link-bar>
  </div>
</div>
</section>


{% schema %}
  {
    "name": "Custom Navigation",
    "class": "shopify-section--custom-navigation",
    "settings": [
      {
      "type": "text",
      "id": "id",
      "label": "ID",
      "info": "Optional. Used with in-page navigation."
      },
      {
        "type": "checkbox",
        "id": "hide_mobile",
        "label": "Hide Mobile?"
      },
      {
        "type": "checkbox",
        "id": "hide_desktop",
        "label": "Hide Desktop?"
      },
      {
        "type": "checkbox",
        "id": "enable_container",
        "label": "Enable Container",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "reduce_padding",
        "label": "Reduce Padding"
      },
      {
        "type": "text",
        "id": "main_text",
        "label": "Navigation Title",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Colour",
        "default": "#1c1c1c"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Colour",
        "default": "#dddddd"
      }
    ],
    "blocks": [
      {
        "name": "Link",
        "type": "link",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "URL"
          }, {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Navigation"
      }
    ]
  }
{% endschema %}