<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.heading_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    {%- if section.settings.button_background == 'rgba(0,0,0,0)' -%}
      {%- assign button_background = settings.primary_button_background -%}
    {%- else -%}
      {%- assign button_background = section.settings.button_background -%}
    {%- endif -%}

    {%- if section.settings.button_text_color == 'rgba(0,0,0,0)' -%}
      {%- assign button_text_color = settings.primary_button_text_color -%}
    {%- else -%}
      {%- assign button_text_color = section.settings.button_text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --primary-button-background: {{ button_background.red }}, {{ button_background.green }}, {{ button_background.blue }};
    --primary-button-text-color: {{ button_text_color.red }}, {{ button_text_color.green }}, {{ button_text_color.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  
  {%- for block in section.blocks -%}
  #shopify-section-{{ section.id }} .product-{{ forloop.index }} {
    --text-color-item: {{ block.settings.text_color }};
  }
  {%- endfor -%}
</style>


<section class="section section--flush" data-section-id="{{ section.id }}" data-current="1">

  <div class="section__color-wrapper">

    <div class="container vertical-breather">


      <div class="text-container--alt">
        {%- if section.settings.text_subheading != blank -%}
          <h2 class="animate-text heading subtitle">{{ section.settings.text_subheading | escape }}</h2>
        {%- endif -%}

        {%- if section.settings.text_title != blank -%}
          <h3 class="animate-text heading h3 title">{{ section.settings.text_title | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.text_content != blank -%}
          <div class="animate-text text-content">
            {{- section.settings.text_content -}}
          </div>
         
        {%- endif -%}
    </div>


    <div class="hide-mobile featured-carousel-product--grid-outer">
      <div class="featured-carousel-product--grid">
      {%- for block in section.blocks -%}
        {%- assign product = block.settings.product -%}
  
          <a href="{{ product.url }}" class="featured-carousel-product--grid-item" data-index="{{ forloop.index }}" target="_blank">
            {% comment %} {{ block.settings.image_mobile | image_url: width: 600 | image_tag: alt: product.title, class: "hide-desktop" }} {% endcomment %}
            {% comment %} {{ block.settings.image | image_url: width: 1000 | image_tag: alt: product.title, class: "hide-mobile" }} {% endcomment %}

            {% comment %} {{ block.settings.image_mobile | image_url: width: 600 | image_tag: alt: product.title, class: "hide-desktop" }}  {% endcomment %}
            {%- if forloop.first -%}
              <img src="https://cdn.shopify.com/s/files/1/0014/3232/2131/files/Web_NF_Imagery__Mob3.png?v=1727238212" alt="">
            {% elsif forloop.index == 2 %}
              <img src=" https://cdn.shopify.com/s/files/1/0014/3232/2131/files/Web_NF_Imagery__Mob.png?v=1727238247" alt="">
             
              {% elsif forloop.index == 3 %}
                <img src="https://cdn.shopify.com/s/files/1/0014/3232/2131/files/Web_NF_Imagery__Mob2.png?v=1727238280" alt="">
            {% else %}
             
            {%- endif -%}
      
            {% comment %} <img src="{{ block.settings.image | img_url: '1000x' }}" alt="{{ product.title }}"> {% endcomment %}
            <div class="featured-carousel-product--grid-item-text">
              <h2 class="title heading heading--secondary">{{ block.settings.title }}</h2>
              <h3 class="subtitle">{{ block.settings.subtitle }}</h3>
              <h3 class="subtitle2">{{ block.settings.subtitle2 }}</h3>
              {% capture button_text %} <span class="divider">|</span><span class="product-price">{{ product.price | money | remove: ".00" | remove: ",00" }}</span>{% endcapture %}
              {%- render 'product-item--ATC' product: product, button_text_atc: "ADD TO CART", button_text: button_text, button_class: "button button--primary button--full" -%}
            </div>
          </a>
      {%- endfor -%}
      </div>
    </div>


  {% comment %} https://codepen.io/aybukeceylan/pen/RwrRPoOL {% endcomment %}
  <div class="featured-carousel-product hide-desktop">
    <input type="radio" name="featured-product-carousel-{{ section.id }}" id="item-1-{{ section.id }}" class="item-1">
    <input type="radio" name="featured-product-carousel-{{ section.id }}" id="item-2-{{ section.id }}" class="item-2" checked>
    <input type="radio" name="featured-product-carousel-{{ section.id }}" id="item-3-{{ section.id }}" class="item-3">
  
    <div class="featured-carousel-product--items">
      {%- for block in section.blocks -%}
        {%- assign product = block.settings.product -%}
  
        <label data-index="{{ forloop.index }}" class="featured-carousel-product--item product-{{ forloop.index }}" for="item-{{ forloop.index }}-{{ section.id }}" id="product-{{ forloop.index }}-{{ section.id }}">
          <div class="featured-carousel-product--text">
            {{ block.settings.image_mobile | image_url: width: 600 | image_tag: alt: product.title, class: "hide-desktop" }}
            {% comment %} {{ block.settings.image | image_url: width: 1000 | image_tag: alt: product.title, class: "hide-mobile" }} {% endcomment %}
            {{ block.settings.image | image_url: width: 1000 | image_tag: alt: product.title, class: "hide-mobile" }}

            <div class="featured-carousel-product--text-inner">
              {% comment %} <div class="dots">
                <div class="dot dot-1"></div>
                <div class="dot dot-2"></div>
                <div class="dot dot-3"></div>
              </div> {% endcomment %}
              <a href="{{ product.url }}" target="_blank">
                <h2 class="title heading heading--secondary">{{ block.settings.title }}</h2>
                <h3 class="subtitle">{{ block.settings.subtitle }}</h3>
                <h3 class="subtitle2">{{ block.settings.subtitle2 }}</h3>
              </a>
              
            {% capture button_text %} <span class="divider">|</span><span class="product-price">{{ product.price | money | remove: ".00" | remove: ",00" }}</span>{% endcapture %}
              {%- render 'product-item--ATC' product: product,  button_text_atc: "ADD TO CART", button_text: button_text,  button_class: "button button--full button--primary" -%}
            </div>
          </div>
        </label>
      {%- endfor -%}
    </div>
  
    <button class="featured-carousel-product--arrows left" onclick="moveCarousel(-1, '{{ section.id }}')">{% render "icon" with "nav-arrow-left-small" %}</button>
    <button class="featured-carousel-product--arrows right" onclick="moveCarousel(1, '{{ section.id }}')">{% render "icon" with "nav-arrow-right-small" %}</button>
  </div>
  

  </div>
</div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const animatedElements{{ section.id | remove: '_' | remove: '-' }} = document.querySelectorAll('.featured-carousel-product--grid');
  
    const observer{{ section.id | remove: '_' | remove: '-' }} = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-before');

          const textElements = document.querySelectorAll('.featured-carousel-product--grid-item-text');
          setTimeout(() => {
            textElements.forEach(textElement => {
              textElement.classList.add('fade-in');
            });
          }, 1200);
        } else {
          // entry.target.classList.remove('animate-before');
        }
      });
    }, { threshold: 0.1 });
  
    animatedElements{{ section.id | remove: '_' | remove: '-' }}.forEach(element => {
      observer{{ section.id | remove: '_' | remove: '-' }}.observe(element);
    });
  });
</script>

{% comment %} // const animatedElementsText{{ section.id | remove: '_' | remove: '-' }} = document.querySelectorAll('.shopify-section--featured-product-carousel-feature .text-container--alt .animate-text');

// const observerText{{ section.id | remove: '_' | remove: '-' }} = new IntersectionObserver((entries) => {
//   entries.forEach(entry => {
//     if (entry.isIntersecting) {
//       entry.target.classList.add('animate-on-scroll');
//     }
//   });
// }, { threshold: 0.1 });

// animatedElementsText{{ section.id | remove: '_' | remove: '-' }}.forEach((element, index) => {
//   element.style.transitionDelay = `${index * 100}ms`; 
//   observerText{{ section.id | remove: '_' | remove: '-' }}.observe(element);
// }); {% endcomment %}

{% schema %}
    {
      "name": "Prod. Carousel (Feature)",
      "class": "shopify-section--featured-product-carousel-feature shopify-section--featured-product-carousel-text",
      "settings": [
        {
        "type": "header",
        "content": "Colors"
        },
        {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
        },
        {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "rgba(0,0,0,0)"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "rgba(0,0,0,0)"
        },
        {
        "type": "color",
        "id": "button_background",
        "label": "Button background",
        "default": "rgba(0,0,0,0)"
        },
        {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text",
        "default": "rgba(0,0,0,0)"
        },
        {
            "type": "header",
            "content": "Text"
          },
          {
        "type": "text",
        "id": "text_subheading",
        "label": "Subheading",
        "default": "Subheading"
        },
        {
        "type": "text",
        "id": "text_title",
        "label": "Heading",
        "default": "Talk about your brand"
        },
        {
        "type": "richtext",
        "id": "text_content",
        "label": "Content",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ],
      "blocks": [
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "header",
            "content": "Product"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "textarea",
            "id": "subtitle2",
            "label": "Subtitle #2"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image (Mobile)"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "rgba(0,0,0,0)"
          }
        ]
      }
      ],
      "presets": [
    {
      "name": "Prod. Carousel (Feature)"
    }
  ]
    }
{% endschema %}
    