

{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
    {%- assign blends_with_background = false -%}
  {%- else -%}
    {%- assign blends_with_background = true -%}
  {%- endif -%}
  
  {%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
    CSS
  ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- assign blockCounterDesktop = 0 -%}
  {%- assign blockCounterMobile = 0 -%}

  {%- for block in section.blocks -%}
      {%- unless block.settings.hide_desktop == true -%}
           {%- assign blockCounterDesktop = blockCounterDesktop | plus: 1 -%}
      {%- endunless -%}

      {%- unless block.settings.hide_mobile == true -%}
          {%- assign blockCounterMobile = blockCounterMobile | plus: 1 -%} 
      {%- endunless -%}
  {%- endfor -%}

  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
        {%- assign section_background = settings.background -%}
      {%- else -%}
        {%- assign section_background = section.settings.background -%}
      {%- endif -%}
  
      {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
        {%- assign heading_color = settings.heading_color -%}
        {%- assign text_color = settings.text_color -%}
      {%- else -%}
        {%- assign heading_color = section.settings.text_color -%}
        {%- assign text_color = section.settings.text_color -%}
      {%- endif -%}
  
      --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
      --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
      --prev-next-button-background: var(--text-color);
      --prev-next-button-color: var(--section-background);
  
      --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
      --block-size-mobile: {{ blockCounterMobile }};
      --block-size-desktop: {{ blockCounterDesktop }};

      --card-height-mobile: {{ section.settings.card_height_mobile }}vw;
      --card-width-mobile: {{ section.settings.card_width_mobile }}vw;

      {%- assign gridWidthTotal = section.settings.card_width_mobile | times: blockCounterMobile -%}
      {%- assign gridWidthMobile = 4 | times: blockCounterMobile | plus: gridWidthTotal -%}
      --card-width-mobile-grid: {{ gridWidthMobile }}vw;

      --card-height-desktop: {{ section.settings.card_height_desktop}};
      --card-width-desktop: {{ section.settings.card_width_desktop }};
    }
  
    #shopify-section-{{ section.id }}  video {
      height: calc(var(--gallery-image-height) + 40px);
      width: auto;
    }

    #shopify-section-{{ section.id }} .progress-bar:before {
      background: rgb(249 198 185);
    }
  </style>
    
  <section class="section {% if section.settings.hide_desktop %}hide-desktop{% endif %} {% if section.settings.hide_mobile %}hide-mobile{% endif %} {% unless blends_with_background %}section--flush{% endunless %} {% if section.settings.arrow_bottom_right %}arrows-bottom-right{% endif %}">
    <div class="section__color-wrapper {% unless blends_with_background %}vertical-breather{% endunless %}">
  
     
        {%- if section.settings.subheading != blank or section.settings.title != blank -%}
          <div class="container container-header">
          <header class="section__header container text-container text-{{ section.settings.header_text_alignment }}">
            {%- if section.settings.subheading != blank -%}
              <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
            {%- endif -%}
    
            {%- if section.settings.title != blank -%}
              <h3 class="heading {{ section.settings.heading_html }} heading--{{ section.settings.font_family_title }}">{{ section.settings.title | escape }}</h3>
            {%- endif -%}
          </header>
          </div>
        {%- endif -%}
    
  
  
      {%- comment -%}
      If we have more than 3 blocks we assume that by default the content may be scrollable. This may not be the case and
      the JavaScript will fired up to remove it in case it is needed, but if it is indeed scrollable this will avoid
      a reflow of the browser rendering engine. From our tests 3 is a sane default.
      {%- endcomment -%}
      <gallery-list class="gallery">
        <scrollable-content {% unless section.settings.show_arrows %}draggable{% endunless %} class="gallery__list-wrapper {% if section.blocks.size >= 3 %}is-scrollable{% endif %} hide-scrollbar">
          <div class="{% if section.settings.enable_container %}container{% else %}no-container{% endif %}">
            <div class="gallery__list">
              {%- for block in section.blocks -%}
                <gallery-item class="gallery__item" {{ block.shopify_attributes }}>
                  <figure class="gallery__figure">
  
  
                    {%- if block.settings.image -%}
                      {%- assign mobile_size = 370 | times: block.settings.image.aspect_ratio | ceil -%}
                      {%- assign tablet_size = 520 | times: block.settings.image.aspect_ratio | ceil -%}
                      {%- assign desktop_size = 600 | times: block.settings.image.aspect_ratio | ceil -%}
                      {%- capture sizes_attribute -%}(max-width: 740px) {{ mobile_size }}px, (max-width: 999px) {{ tablet_size }}px, {{ desktop_size }}px{%- endcapture -%}
  
                      {% comment %} {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', class: 'gallery__image flip-card--image' }}
                      {{ block.settings.image_flip | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', class: 'gallery__image flip-card--flip' }} {% endcomment %}

                      <div class="flip-card" onclick="this.classList.toggle('flip')">
                      <div class="flip-card-inner">
                        <div class="flip-card-front">
                          {{ block.settings.image | image_url: width: 600 | image_tag: sizes: sizes_attribute, widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', class: 'gallery__image' }}
                        </div>
                        <div class="flip-card-back">
                          {{ block.settings.image_flip | image_url: width: 600 | image_tag: sizes: sizes_attribute, widths: '300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000', class: 'gallery__image' }}
                        </div>
                      </div>
                    </div>
                    {%- endif -%}
  
                    {%- if block.settings.caption != blank -%}
                      <figcaption class="gallery__caption rte">
                        {{- block.settings.caption -}}
                      </figcaption>
                    {%- endif -%}
                    {% comment %} <a href="{{ block.settings.link }}" class="button button--secondary">{{ block.settings.link_title }}</a> {% endcomment %}

                    <a class="blocks--button {% if section.settings.button_style contains "link" %}link--{% if section.settings.button_style == 'link-with-arrow-white' %}secondary{% else %}primary{% endif %}{% else %}button {{ section.settings.button_style }}{% endif %} {% if section.settings.hide_desktop %}hide-desktop{% endif %} {% if section.settings.hide_mobile %}hide-mobile{% endif %}" href="{{ block.settings.link }}" id="block-{{ section.id }}">{{ block.settings.link_title }} {% if section.settings.button_style contains "link-with-arrow" %}{%- render 'icon' with "brand-arrow-right" -%}{% endif %}</a>

                  </figure>
                </gallery-item>
              {%- endfor -%}
            </div>
          </div>
        </scrollable-content>
  
        {%- if section.blocks.size > 1 and section.settings.show_arrows -%}
          <prev-next-buttons class="gallery__prev-next-buttons prev-next-buttons">
            <button class="gallery__arrow prev-next-button prev-next-button--prev">
              <span class="visually-hidden">{{ 'general.accessibility.previous' | t }}</span>
              {%- render 'icon' with 'nav-arrow-left', direction_aware: true -%}
            </button>
  
            <button class="gallery__arrow prev-next-button prev-next-button--next">
              <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
              {%- render 'icon' with 'nav-arrow-right', direction_aware: true -%}
            </button>
          </prev-next-buttons>
        {% endif %}
  
        <div class="gallery__progress-bar-wrapper container">
          <span class="gallery__progress-bar progress-bar" style="--divider: {{ section.blocks.size }}"></span>
        </div>
      </gallery-list>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
    
    });
  </script>
  
  {% schema %}
  {
    "name": "Flip Cards V2",
    "class": "shopify-section--gallery shopify-section--flip-cards shopify-section--flip-cards-V2",
    "disabled_on": {
      "groups": ["header", "custom.overlay"]
    },
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_flip",
            "label": "Image (Flip)"
          },
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_mobile",
        "label": "Hide Mobile?"
      },
      {
        "type": "checkbox",
        "id": "hide_desktop",
        "label": "Hide Desktop?"
      },
      {
          "type": "range",
          "id": "card_width_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "VW",
          "label": "Card Width (Mobile)",
          "default": 86
      },
      {
          "type": "range",
          "id": "card_height_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "VH",
          "label": "Card Height (Mobile)",
          "default": 50
      },
      {
          "type": "range",
          "id": "card_width_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "VW",
          "label": "Card Width (Desktop)",
          "default": 0
      },
      {
          "type": "range",
          "id": "card_height_desktop",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "VH",
          "label": "Card Height (Desktop)",
          "default": 0
      },
      {
        "type": "checkbox",
        "id": "enable_container",
        "label": "Enable Container"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show navigation arrows",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "arrow_bottom_right",
        "label": "Move Arrows Bottom-Right"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "select",
        "id": "heading_html",
        "label": "Heading Type",
        "default": "h3",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3 (Default)"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ]
      },
      {
        "type": "select",
        "id": "font_family_title",
        "label": "Font Family (Header)",
        "info": "For Section Header",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "header_text_alignment",
        "label": "Header Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Color",
        "default": "rgba(0,0,0,0)"
      },
        {
      "type": "radio",
      "id": "button_style",
      "label": "Button Style",
      "options": [
        {
        "value": "button--primary",
        "label": "Button"
      },
      {
          "value": "button--secondary",
          "label": "Button (Secondary)"
      },
      {
          "value": "button--ternary",
          "label": "Button (Ternary)"
      },
      {
          "value": "button--ternary-white",
          "label": "Button (Ternary - White)"
      },
      {
          "value": "button--outline",
          "label": "Button (Outline)"
      },
      {
          "value": "link",
          "label": "Link"
      },
      {
          "value": "link-with-arrow",
          "label": "Link (With Arrow)"
      },
      {
      "value": "link-with-arrow-white",
      "label": "White Link (With Arrow)"
      }
      ],
      "default": "button--primary"
  }
    ],
    "presets": [
      {
        "name": "Flip Cards V2",
        "blocks": [
        ],
        "settings": {}
      }
    ]
  }
  {% endschema %}