{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}
<style>
  #shopify-section-{{ section.id }} .footer { 

    {%- if brand == "go-to" -%}
    {%- assign border_color = settings.footer_background | color_mix: settings.footer_text_color, 85 -%}

    --background: {{ settings.footer_background.red }}, {{ settings.footer_background.green }}, {{ settings.footer_background.blue }};
    --heading-color: {{ settings.footer_text_color.red }}, {{ settings.footer_text_color.green }}, {{ settings.footer_text_color.blue }};
    --text-color: {{ settings.footer_text_color.red }}, {{ settings.footer_text_color.green }}, {{ settings.footer_text_color.blue }};
    --border-color: {{ border_color.red }}, {{ border_color.green }}, {{ border_color.blue }};
    {%- elsif brand == "bro-to" -%}
      {%- assign border_color = settings.broto_footer_background | color_mix: settings.broto_footer_text_color, 85 -%}
      --background: {{ settings.broto_footer_background.red }}, {{ settings.broto_footer_background.green }}, {{ settings.broto_footer_background.blue }};
      --heading-color: {{ settings.broto_footer_text_color.red }}, {{ settings.broto_footer_text_color.green }}, {{ settings.broto_footer_text_color.blue }};
      --text-color: {{ settings.broto_footer_text_color.red }}, {{ settings.broto_footer_text_color.green }}, {{ settings.broto_footer_text_color.blue }};
      --border-color: {{ border_color.red }}, {{ border_color.green }}, {{ border_color.blue }};
    {%- elsif brand == "gro-to" -%}
    {%- assign border_color = settings.groto_footer_background | color_mix: settings.groto_footer_text_color, 85 -%}

    --background: {{ settings.groto_footer_background.red }}, {{ settings.groto_footer_background.green }}, {{ settings.groto_footer_background.blue }};
    --heading-color: {{ settings.groto_footer_text_color.red }}, {{ settings.groto_footer_text_color.green }}, {{ settings.groto_footer_text_color.blue }};
    --text-color: {{ settings.groto_footer_text_color.red }}, {{ settings.groto_footer_text_color.green }}, {{ settings.groto_footer_text_color.blue }};
    --border-color: {{ border_color.red }}, {{ border_color.green }}, {{ border_color.blue }};
    {% else  %}
    {% endif %}
  }
</style>

<footer class="footer {% if settings.footer_background == settings.background %}footer--bordered{% endif %}">


 

  <div class="container">
    <div class="footer__inner">

      {%- render 'footer--desktop', brand: brand  -%}
      {%- render 'footer--mobile', brand: brand  -%}
      {%- render 'footer--aside', brand: brand -%}
    </div>
  </div>

  {%- if brand == "gro-to" -%}
    <img src="{{ 'goofy-eyes.gif' | asset_url }}" width="150" height="auto" loading="lazy"  class="footer-gro-to--goofy-eyes"/>
  {%- endif -%}

</footer>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer shopify-section--faq",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "label": "Show Follow on Shop",
      "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "300 x 300px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        },
        {
          "type": "text",
          "id": "menu_title",
          "label": "Title (Desktop)",
          "info": "Leave blank to use the menu title"
        },
        {
          "type": "text",
          "id": "menu_title_mobile",
          "label": "Title (Mobile)",
          "info": "Leave blank to use the menu title"
        },
        {
          "type": "checkbox",
          "id": "upcase_links",
          "label": "Uppercase links (Desktop)",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "upcase_links_mobile",
          "label": "Uppercase links (Mobile)",
          "default": false
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To configure social media, go to your social media settings."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>To configure social media, go to your social media settings. Change this text in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        },
        {
          "type": "liquid",
          "id": "embed_desktop",
          "label": "Klaviyo Embed (Desktop)"
        },
        {
          "type": "liquid",
          "id": "embed_mobile",
          "label": "Klaviyo Embed (Mobile)"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {}
      },
      {
        "type": "newsletter",
        "settings": {}
      },
      {
        "type": "social_media",
        "settings": {}
      }
    ]
  }
}
{% endschema %}