{%- capture brand -%}{%- render 'brand' -%}{%- endcapture -%}
<style>
  #shopify-section-{{ section.id }} .footer-aside { 
    --background: {{ section.settings.background }};
    --text-color: {{ section.settings.text_color }};
  }
</style>

<section class="footer-aside">
  <div class="container">

  <div class="footer__copyright-container">
    <span class="footer__copyright text--small text--subdued heading heading--secondary">&copy; {{ "now" | date: "%Y" }} Go-To Skincare PTY LTD</span>
    {%- if brand == 'bro-to' %}
      <span class="footer__copyright text--small text--subdued heading heading--secondary">&copy; {{ "now" | date: "%Y" }} Bro-To Skincare PTY LTD</span>
    {%- elsif brand == 'gro-to' %}
      <span class="footer__copyright text--small text--subdued heading heading--secondary">&copy; {{ "now" | date: "%Y" }} Gro-To Skincare PTY LTD</span>
    {%- endif -%}
  
  </div>



  {% comment %} <div class="footer__follow-and-payment">
    {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
      <div class="footer__payment-methods">
        <span class="footer__payment-methods-label text--xsmall text--subdued">{{ 'footer.general.we_accept' | t }}</span>

        <div class="payment-methods-list payment-methods-list--auto">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag }}
          {% endfor %}
        </div>
      </div>
    {%- endif -%}
  </div> {% endcomment %}

  <img src="{{ "not_tested_on_animals.png" | asset_img_url: "200x" }}" width="200" height="auto" loading="lazy" alt="Not Tested On Animals">



  {% comment %} <img data-src="//gotoskincare.com/cdn/shop/files/not_tested_on_animals.png?v=1644811577&amp;width=320" loading="lazy" width="auto" height="auto" alt="" class=" Image--lazyLoaded" src="//gotoskincare.com/cdn/shop/files/not_tested_on_animals.png?v=1644811577&amp;width=320"> {% endcomment %}

  </div>
</section>

{% schema %}
{
  "name": "Footer (Aside)",
  "class": "shopify-section--footer-aside",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#181818"
    }
  ]
}
{% endschema %}