

<section>
  <div class="container">
    <div class="page-header">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb breadcrumb--floating text--xsmall hidden-phone {% unless section.settings.show_breadcrumbs %}hide{% endunless %}">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
          </li>

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{ page.title }}</span>
          </li>
        </ol>
      </nav>

      <div class="page-header__text-wrapper text-container {% unless section.settings.show_title %}hide{% endunless %}">
        <h1 class="heading h3  {% unless section.settings.show_title %}hide{% endunless %} text-align--{{ section.settings.text_alignment }}">{{ page.title }}</h1>

        <div class="page-content--{{ section.settings.page_width }}">
        {%- if section.settings.show_page_content -%}
          {%- if template.suffix contains 'contact' or template.suffix contains 'faq' -%}
            {{- page.content -}}
          {%- endif -%}
        {%- endif -%}
  
        </div>
      </div>
    </div>
    
  {%- if section.settings.show_page_content -%}
    {%- unless template.suffix contains 'contact' or template.suffix contains 'faq' -%}
    <div class="page-content page-content--{{ section.settings.page_width }} rte {% if page.content == blank %}hide{% endif %}">
        {{- page.content -}}
      </div>
    {%- endunless -%}
  {%- endif -%}



  </div>
</section>

{% schema %}
{
  "name": "Page",
  "class": "shopify-section--main-page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show Breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_page_content",
      "label": "Show Page Content",
      "default": true
    },
    {
      "type": "select",
      "id": "page_width",
      "label": "Page width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}