{%- unless product.metafields.custom.product_trials__before == blank or product.metafields.custom.product_trials__after == blank -%}
  <section class="section BeforeAfter {% unless product.metafields.custom.product_trials.size < 2 %}BeforeAfter--hasTabs{% endunless %}" data-section-id="{{ section.id }}" data-section-type="before-after" id="before-after">
    <div class="container">
      <div class="BeforeAfter__Container">
        <div class="BeforeAfter__SliderWrapper">
   
            <div class="custom-carousel carousel" data-flickity='{ "cellSelector": ".carousel-cell", "prevNextButtons": true, "wrapAround": true, "autoPlay": true, "resize": true, "lazyLoad": true, "draggable": ">1"  }'>
              
              {%- for block in product.metafields.custom.product_trials__trial_title -%}
                <div class="carousel-cell">
                  {% render "responsive-image-metafields", src_desktop: product.metafields.custom.product_trials__side-by-side[forloop.index0] , src_mobile: product.metafields.custom.product_trials__side-by-side[forloop.index0], reveal: false, %}
                </div>
              {%- endfor -%}
    
            </div>



        </div>
        <div class="BeforeAfter__TextContainer">
          <h2 class="BeforeAfter__Title">{{ product.metafields.custom.product_trials__title }}</h2>
          <div class="BeforeAfter__Description">
            {{ product.metafields.custom.product_trials__description }}
            {%- unless product.metafields.custom.product_trials__modal_button_text == blank -%}
              <button class="button button--outline button--ternary" id="open-trials">
                {{ product.metafields.custom.product_trials__modal_button_text }}
              </button>

              {%- capture modalContent -%}
                <div class="rte ">
                  {{ product.metafields.custom.product_trials__modal_content }}
                </div>
              {%- endcapture -%}
              {%- render 'modal', modalId: "open-trials", buttonId: "open-trials" content: modalContent -%}
            {%- endunless -%}
          </div>
        </div>
      </div>
    </div>
  </section>
{%- endunless -%}

<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.section_background }};
  }

  #shopify-section-{{ section.id }} .BeforeAfter__Container {
    background: {{ section.settings.text_background }};
  }
  
  #shopify-section-{{ section.id }} .BeforeAfter__Title {
    font-size: {{ section.settings.title_font_size-mobile }}px;
  }

  #shopify-section-{{ section.id }} .BeforeAfter__Description {
    font-size: {{ section.settings.description_font_size-mobile }}px;
  }

  @media screen and (min-width: 1024px) {
    #shopify-section-{{ section.id }} .BeforeAfter__Title {
      font-size: {{ section.settings.title_font_size-desktop }}px;
    }
  
    #shopify-section-{{ section.id }} .BeforeAfter__Description {
      font-size: {{ section.settings.description_font_size-desktop }}px;
    }
  }
</style>

<script>
window.onload = function() {
  const beforeAndAfter = document.querySelector(".custom-carousel");
  if (beforeAndAfter && beforeAndAfter.flickity) {
    beforeAndAfter.flickity.resize();
  }
};
</script>


{% schema %}
  {
    "name": "Prod. Con: Before / After",
    "settings": [
      {
        "type": "paragraph",
        "content": "This section uses a \"before\" image as the foreground and an \"after\" image as background. The overall width of the section is determined by the width of the \"after\" image."
      },
      {
        "type": "header",
        "content": "Font sizes"
      },
      {
        "type": "range",
        "id": "title_font_size-mobile",
        "min": 30,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Title - mobile",
        "default": 36
      },
      {
        "type": "range",
        "id": "description_font_size-mobile",
        "min": 14,
        "max": 36,
        "step": 1,
        "unit": "px",
        "label": "Description - mobile",
        "default": 18
      },
      {
        "type": "range",
        "id": "title_font_size-desktop",
        "min": 30,
        "max": 70,
        "step": 1,
        "unit": "px",
        "label": "Title - desktop",
        "default": 56
      },
      {
        "type": "range",
        "id": "description_font_size-desktop",
        "min": 18,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Description - desktop",
        "default": 24
      },
      {
        "type": "header",
        "content": "Colours"
      },
      {
        "type": "color",
        "id": "text_background",
        "label": "Text background colour",
        "default": "#FDE4DB"
      },
      {
        "type": "color",
        "id": "section_background",
        "label": "Section background colour"
      }
    ],
    "presets": [
      {
        "name": "Prod. Con: Before / After",
        "category": "Product"
      }
    ]
  }
{% endschema %}
