<style>


#shopify-section-{{ section.id }}  {
    --background-color: {{ section.settings.background }};
}

{% for block in section.blocks %}
  {%- if block.settings.enable_text_shadow -%}
  #shopify-section-{{ section.id }} #block-{{ block.id }} h2.text-shadow:after {
    --text-shadow-color: {{ block.settings.text_shadow_color }};
  }
  {%- endif -%}

  #shopify-section-{{ section.id }} #block-{{ block.id }}-container {
      --background-color: {{ block.settings.background }};
  }

{% endfor %}

</style>

<section>
  <div class="container">
    <timeline-vertical class="timeline-vertical" stagger-apparition>
    {%- for block in section.blocks -%}
      <div class="timeline-vertical-item--container" id="block-{{ block.id }}-container">
        <div class="timeline-vertical-item image-{{ block.settings.image_position }}" id="block-{{ block.id }}" >
          <div class="timeline-vertical-item--image" reveal>
          {%- capture class_attribute -%}{% if block.settings.mobile_image != blank %}hide-mobile{% endif %}{%- endcapture -%}
          {%- capture sizes_attribute -%}(max-width: 999px) 100vw, 100vw{%- endcapture -%}
          {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000', class: class_attribute }}
          
          {%- if block.settings.mobile_image != blank -%}
            {%- capture class_attribute -%}hide-desktop{%- endcapture -%}
            {%- capture sizes_attribute -%}(max-width: 999px) 100vw, 100vw{%- endcapture -%}
              {{ block.settings.mobile_image | image_url: width: block.settings.mobile_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400', class: class_attribute }}
          {%- endif -%}

            {%- if block.settings.description != blank -%}
              <div class="text hide-desktop">
                {{ block.settings.description }}
              </div>
            {%- endif -%}

            {%- if  block.settings.button_text != blank -%}
            <a class="blocks--button hide-desktop--flex {% if block.settings.button_style contains "link" %}link--primary{% else %}button {{ block.settings.button_style }}{% endif %}" href="{{ block.settings.button_link }}">{{ block.settings.button_text }} {% if block.settings.button_style == "link-with-arrow" %}{%- render 'icon' with "brand-arrow-right" -%}{% endif %}</a>
            {%- endif -%}
          </div>

          <div class="timeline-vertical-item--text" reveal>
            {%- if block.settings.title != blank -%}
              <h2 class="heading h3 {% if block.settings.enable_text_shadow %}text-shadow{% endif %}">{{ block.settings.title }}</h2>
              {%- endif -%}
              {%- if block.settings.subtitle != blank -%}
              <h3 class="heading h4">{{ block.settings.subtitle }}</h3>
            {%- endif -%}
            
            {%- if block.settings.description != blank -%}
              <div class="text hide-mobile">
                {{ block.settings.description }}
              </div>
            {%- endif -%}

            {%- if  block.settings.button_text != blank -%}
            <a class="blocks--button hide-mobile--flex {% if block.settings.button_style contains "link" %}link--primary{% else %}button {{ block.settings.button_style }}{% endif %}" href="{{ block.settings.button_link }}">{{ block.settings.button_text }} {% if block.settings.button_style == "link-with-arrow" %}{%- render 'icon' with "brand-arrow-right" -%}{% endif %}</a>
            {%- endif -%}
          </div>
        </div> 
      </div>
    {%- endfor -%}
    </timeline-vertical>
  </div>
</section>

  {% schema %}
  {
    "name": "Timeline (Vertical)",
    "class": "shopify-section--timeline-vertical",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background Color",
        "default": "#fff"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Background Color"
          },
          {
            "type": "color",
            "id": "background",
            "label": "Background Color",
            "default": "#fff"
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "checkbox",
            "id": "enable_text_shadow",
            "label": "Enable Text Shadow"
          },
          {
            "type": "color",
            "id": "text_shadow_color",
            "label": "Text Shadow Colour",
            "default": "#e4e935"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          },
          {
          "type": "header",
          "content": "Button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "radio",
            "id": "button_style",
            "label": "Button Style",
            "options": [
              {
              "value": "button--primary",
              "label": "Button"
            },
            {
                "value": "button--secondary",
                "label": "Button (Secondary)"
            },
            {
                "value": "button--ternary",
                "label": "Button (Ternary)"
            },
            {
                "value": "button--outline",
                "label": "Button (Outline)"
            },
            {
                "value": "link",
                "label": "Link"
            },
            {
                "value": "link-with-arrow",
                "label": "Link (With Arrow)"
            }
            ],
            "default": "button--primary"
        },
          {
          "type": "header",
          "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image",
            "info": "Optional"
          },
          {
            "type": "select",
            "id": "image_position",
            "label": "Image position",
            "default": "right",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Right",
                "value": "right"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "Timeline (Vertical)"
    }
  ]
  }
  {% endschema %}